@USWidthMinControlGroup:			80px;
@USWidthMediumControlGroup:			120px;
@USHeightElementosTeste:			30px;

.container{
	width: @USwidthContainer;
	overflow: hidden;
	.minHeight(400px);
	margin: 15px auto;
	background: @UScolorBackGround;
	&-row{
		width: @USwidthContainer;
		margin: 0 auto;
	}
	&-left{
		width: 230px;
		margin-left: 20px;
		.well{
			.backWhiteWithShadow;
			.nav-header a{
				background: @colorLighter;
				color: @colorDark;
				&:hover{
					background: @colorLight;
				}
			}
			.nav-links > li > a:hover{
				background: lighten(@colorLighter,7%);
			}
		}
	}
	&-right{
		margin-left: 25px;
		
		.breadcrumb{
			margin-bottom: 10px;
		}
		.form-layout{
			position: relative;
			z-index: 50;
		}
		.nav.nav-tabs{
			position: relative;
			z-index: 20;
			li a{
				.box-shadow(@USShadowMin);
				
			}
			li:not(.active) a{
				background: lighten(@colorLighter,14%);
				color: @colorDarker;
				&:hover{
					background: lighten(@colorLighter,5%);
				}
			}
		}
		.btn-toolbar{
			.minHeight(30px);
			a.btn{
				padding: 5px 20px;
			}
		}
		.pagination{
			text-align: center;
			
			a.active{
				background: @UScolorBackGround;
			}
		}
	}
}
.form-layout{
	.backWhiteWithShadow;
	fieldset{
		width: 100%;
		legend{
			padding: 5px 0;
			font-size: 24px;
			color: @colorDark;
			border: none;
			margin-bottom: 0px;
			span{
				padding: 0 20px;
				&.little{
					font-size: 20px;
				}
			}
			hr{
				margin: 2px 0 5px 0;
			}
			p{
				line-height: 20px;
				padding: 0 20px;
				font-size: 16px;
				color: darken(@colorLight, 10%);
				margin-bottom: 15px;
			}
		}
		p.legend{
			line-height: 15px;
			padding: 0 20px;
			font-size: 16px;
			color: darken(@colorLight, 10%);
			margin: 15px 0 5px 0;
		}
		.form-actions{
			background: lighten(@colorLighter,7%);
			border-top: 1px solid @colorLighter;
			border-bottom: 1px solid @colorLighter;
			padding: 9px 10px 10px;
		}
		
		.control-group-min{
			.control-group;
			.control-label{
				width: @USWidthMinControlGroup;
			}
			.controls{
				margin-left: @USWidthMinControlGroup + 20;
			}
		}
		.control-group-medium{
			.control-group;
			.control-label{
				width: @USWidthMediumControlGroup;
			}
			.controls{
				margin-left: @USWidthMediumControlGroup + 20;
			}
		}
		table{
			padding-top: 5px;
			width: 98%;
			margin: 5px auto;
			th{
				text-align: center;
			}
		}
	}
}
footer{
	hr{
		margin: 5px 0;
		border-top: 1px solid @colorLighter;
		border-bottom: 1px solid @white;		
	}
	#footer{
		width: auto;
		margin: 0 auto;
		padding: 5px 0 20px 0;
		text-align: center;
	}
}
.centertd{
	text-align: center !important;
}
.help-block{
	float: left; 
	margin-top: 3px;
}
#grupoalternativas{
	#addalternativa{
		margin-right: 23px;
	}
	.campoalternativa{
		margin-bottom: 10px;
	}
	.delalternativa{
		margin: 10px 2px;
	}
}
.sortable{
	list-style-type: none; padding: 0; margin: 0 10px; width: 97%;
	li{
		position: relative;
		height: @USHeightElementosTeste;
		margin: 5px 0;
		.ui-icon{
			float: left;
			margin: 7px 0 0 2px;
		}
		.titulo{
			float: left;
			padding: 5px 0 0 5px;
			font-size: 16px;
			height: @USHeightElementosTeste - 5;
		}
		.acoes{
			float: right;
			height: @USHeightElementosTeste - 4;
			margin: 3px 5px;
			padding: 0px;
		}
	}
}
// Estilos de Visualização
//	------------------------------
.backWhiteWithShadow{
	background: @white;
	.border-radius(4px);
	.box-shadow(@USShadowDefault);
	border: 1px solid #d5d5d5;
}
.btn-gravar-regravar{
	width: 85px;
}
.center{
	float: none; 
	margin: 0 auto;
}

// Perguntas e Respotas
// ------------------------------
.pergunta .control-group{
	&.notop{
		margin-top: 0px;
	}
	div{
		padding-left: 20px;
		&.center{
			padding-left: 0px;
		}
	}
}

// Ações dos fluxos
// ------------------------------
.table tbody tr.action-path:hover td, .table tbody tr.action-path:hover th {
	background: none;
}
.table.blue-table{
	table-layout: fixed;
	width: 97%;
	float: none;
	padding: 0;
	margin: 10px auto 20px;
	border: 1px solid @borderColorTable;

	tr th {
		background: @colorDark;
		color: white;
	}
  	tr td, tr th {
		white-space: nowrap;
		width: auto;
		vertical-align: middle;
		border-right: 1px solid @borderColorTable;
		border-top: 1px solid @borderColorTable;
	}
	tr td.long {
		white-space: normal;   
		word-break: break-all;
		word-wrap: break-word;
		width: auto;
	}
	
	tr th.sub-th{
		vertical-align: middle;
		white-space: normal;
		background: @color;
		width: 65px;
	}
}
.action-path{
	&.best-path{
		background: @correctColor;
		&:hover{
			background: @correctColorOver;
		} 
	}
	&.right-path{
		background: @rightColor;
		&:hover{
			background: @rightColorOver;
		}
	}
	&.right-repeat-path{
		background: @rightRepeatColor;
		&:hover{
			background: @rightRepeatColorOver;
		}
	}
	&.wrong-path{
		background: @wrongColor;
		&:hover{
			background: @wrongColorOver;
		}
	}
	&.normal-path{
		background: @normalColor;
		&:hover{
			background: @normalColorOver;
		}
	}
}
.popover{
	&.bottom .arrow{
		border-bottom: 5px solid @grayLight;
	}
	&-content, &-title{
		border: 1px solid @grayLight;
	}
	&-title{
		color: #999;
		border-bottom: none;
	}
}

ul.horizontal{
	li{
		display: inline-block;
		margin: 0 5px;
	}
}


/* DATA MINING */

.container-padding-left{
	padding-left: 20px;
	
	.row{
		margin-left: -10px;
	}
}

.datamining-form{
	.control-group{
		margin: 10px 20px;
	}
	
	.input{
		width: 98%;
	}
	
	.submit{
		margin-right: 15px;
	}
}

.datamining-table{
	th{
		text-align: center;
	}
	
	td{
		line-height: 20pt;
		padding: 5px 15px;
		
		&.td-link{
			padding: 0px;
			a{
				display: block;
				padding: 5px 15px;
			}
		}
	}
}

.usdm-{
	&box{
		background-color: white;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #becde2;
		
		&-header{
			margin-bottom: 5px;
			border-bottom: 1px solid #becde2;	
		}
		&-body{
			dl{
				dt{
					font-size: 14px;
					margin-bottom: 5px;
				}
				dd{
					margin-left: 0;
				}
				
				padding: 5px 0;
				margin: 10px 5px 0;
				border-bottom: 1px solid lighten(#becde2, 12%);
			}
			
			.actions-bottom{
				margin: 15px;
				
				a{
					margin-left: 10px;
				}
			}
			
		}
	}
}

.form-actions{
	input, a, button {
		margin-left: 10px;
	}
}


.position-relative{
	position: relative;
}
.text-center{
	text-align: center !important;
}
.underline{
	text-decoration: underline;
}
.border-right{
	border-right: 1px solid #becde2;
}
.border-left{
	border-left: 1px solid #becde2;
}
.border-bottom{
	border-bottom: 1px solid #becde2;
}
.clear-both{
	clear: both;
}