@USWidthMinControlGroup:			80px;
@USWidthMediumControlGroup:			120px;
@USHeightElementosTeste:			30px;

.container{
	width: @USwidthContainer;
	overflow: hidden;
	.minHeight(400px);
	margin: 15px auto;
	background: @UScolorBackGround;
	&-row{
		width: @USwidthContainer;
		margin: 0 auto;
	}
	&-left{
		width: 230px;
		margin-left: 20px;
		.well{
			.backWhiteWithShadow;
			.nav-header a{
				background: @colorLighter;
				color: @colorDark;
				&:hover{
					background: @colorLight;
				}
			}
			.nav-links > li > a:hover{
				background: lighten(@colorLighter,7%);
			}
		}
	}
	&-right{
		margin-left: 25px;
		
		.breadcrumb{
			margin-bottom: 10px;
		}
		.form-layout{
			position: relative;
			z-index: 50;
		}
		.nav.nav-tabs{
			position: relative;
			z-index: 20;
			li a{
				.box-shadow(@USShadowMin);
				
			}
			li:not(.active) a{
				background: lighten(@colorLighter,14%);
				color: @colorDarker;
				&:hover{
					background: lighten(@colorLighter,5%);
				}
			}
		}
		.btn-toolbar{
			.minHeight(30px);
			a.btn{
				padding: 5px 20px;
			}
		}
		.pagination{
			text-align: center;
			
			a.active{
				background: @UScolorBackGround;
			}
		}
	}
}
.form-layout{
	.backWhiteWithShadow;
	fieldset{
		width: 100%;
		legend{
			padding: 5px 0;
			font-size: 24px;
			color: @colorDark;
			border: none;
			margin-bottom: 0px;
			span{
				padding: 0 20px;
				&.little{
					font-size: 20px;
				}
			}
			hr{
				margin: 2px 0 5px 0;
			}
			p{
				line-height: 20px;
				padding: 0 20px;
				font-size: 16px;
				color: darken(@colorLight, 10%);
				margin-bottom: 15px;
			}
		}
		p.legend{
			line-height: 15px;
			padding: 0 20px;
			font-size: 16px;
			color: darken(@colorLight, 10%);
			margin: 15px 0 5px 0;
		}
		.form-actions{
			background: lighten(@colorLighter,7%);
			border-top: 1px solid @colorLighter;
			border-bottom: 1px solid @colorLighter;
			padding: 9px 10px 10px;
		}
		
		.control-group-min{
			.control-group;
			.control-label{
				width: @USWidthMinControlGroup;
			}
			.controls{
				margin-left: @USWidthMinControlGroup + 20;
			}
		}
		.control-group-medium{
			.control-group;
			.control-label{
				width: @USWidthMediumControlGroup;
			}
			.controls{
				margin-left: @USWidthMediumControlGroup + 20;
			}
		}
		table{
			padding-top: 5px;
			width: 98%;
			margin: 5px auto;
			th{
				text-align: center;
			}
		}
	}
}
footer{
	hr{
		margin: 5px 0;
		border-top: 1px solid @colorLighter;
		border-bottom: 1px solid @white;		
	}
	#footer{
		width: auto;
		margin: 0 auto;
		padding: 5px 0 20px 0;
		text-align: center;
	}
}
.centertd{
	text-align: center !important;
}
.help-block{
	float: left; 
	margin-top: 3px;
}
#grupoalternativas{
	#addalternativa{
		margin-right: 23px;
	}
	.campoalternativa{
		margin-bottom: 10px;
	}
	.delalternativa{
		margin: 10px 2px;
	}
}
.sortable{
	list-style-type: none; padding: 0; margin: 0 10px; width: 97%;
	li{
		position: relative;
		height: @USHeightElementosTeste;
		margin: 5px 0;
		.ui-icon{
			float: left;
			margin: 7px 0 0 2px;
		}
		.titulo{
			float: left;
			padding: 5px 0 0 5px;
			font-size: 16px;
			height: @USHeightElementosTeste - 5;
		}
		.acoes{
			float: right;
			height: @USHeightElementosTeste - 4;
			margin: 3px 5px;
			padding: 0px;
		}
	}
}
// Estilos de Visualização
//	------------------------------
.backWhiteWithShadow{
	background: @white;
	.border-radius(4px);
	.box-shadow(@USShadowDefault);
	border: 1px solid #d5d5d5;
}
.btn-gravar-regravar{
	width: 85px;
}
.center{
	float: none; 
	margin: 0 auto;
}

// Perguntas e Respotas
// ------------------------------
.pergunta .control-group{
	&.notop{
		margin-top: 0px;
	}
	div{
		padding-left: 20px;
		&.center{
			padding-left: 0px;
		}
	}
}

// Ações dos fluxos
// ------------------------------
.table tbody tr.action-path:hover td, .table tbody tr.action-path:hover th {
	background: none;
}
.table.blue-table{
	table-layout: fixed;
	width: 97%;
	float: none;
	padding: 0;
	margin: 10px auto 20px;
	border: 1px solid @borderColorTable;

	tr th {
		background: @colorDark;
		color: white;
	}
  	tr td, tr th {
		white-space: nowrap;
		width: auto;
		vertical-align: middle;
		border-right: 1px solid @borderColorTable;
		border-top: 1px solid @borderColorTable;
	}
	tr td.long {
		white-space: normal;   
		word-break: break-all;
		word-wrap: break-word;
		width: auto;
	}
	
	tr th.sub-th{
		vertical-align: middle;
		white-space: normal;
		background: @color;
		width: 65px;
	}
}
.action-path{
	&.best-path{
		background: @correctColor;
		&:hover{
			background: @correctColorOver;
		} 
	}
	&.right-path{
		background: @rightColor;
		&:hover{
			background: @rightColorOver;
		}
	}
	&.right-repeat-path{
		background: @rightRepeatColor;
		&:hover{
			background: @rightRepeatColorOver;
		}
	}
	&.wrong-path{
		background: @wrongColor;
		&:hover{
			background: @wrongColorOver;
		}
	}
	&.normal-path{
		background: @normalColor;
		&:hover{
			background: @normalColorOver;
		}
	}
}
.popover{
	&.bottom .arrow{
		border-bottom: 5px solid @grayLight;
	}
	&-content, &-title{
		border: 1px solid @grayLight;
	}
	&-title{
		color: #999;
		border-bottom: none;
	}
}

ul.horizontal{
	li{
		display: inline-block;
		margin: 0 5px;
	}
}


/* DATA MINING */

@color-principal:			#426392;
@color-principal-hover:		#264879;
@color-principal-active:	#0C2F61;

@usdm-color-green: 		rgb(209, 255, 209);
@usdm-color-red: 		rgb(255, 209, 209);
@usdm-color-yellow: 	rgb(255, 242, 209);
@usdm-color-blue: 		rgb(215, 234, 251);

@usdm-color-vivid-gray: 	#BDC3C7;
@usdm-color-darken-gray: 	#A2A8AF;
@usdm-color-vivid-blue: 	#3498DB;
@usdm-color-darken-blue: 	#0D6094;
@usdm-color-vivid-red: 		#E74C3C;
@usdm-color-darken-red: 	#992116;
@usdm-color-vivid-green: 	#2ECC71;
@usdm-color-darken-green: 	#08803A;
@usdm-color-vivid-black: 	#555;
@usdm-color-darken-black: 	#222;

@color-sessios-text: 	#324b6f;
@usdm-info-box-radius:	5px;

.container-padding-left{
	padding-left: 20px;
	
	.row{
		margin-left: -10px;
	}
}

.datamining-form{
	.control-group{
		margin: 10px 20px;
	}
	
	.input{
		width: 98%;
	}
	
	.submit{
		margin-right: 15px;
	}
}

.datamining-table{
	th{
		text-align: center;
	}
	
	td{
		line-height: 20pt;
		padding: 5px 15px;
		
		&.td-link{
			padding: 0px;
			a{
				display: block;
				padding: 5px 15px;
			}
		}
	}
	
	&.datamining-table-ellipsis{
		width: 100%;
		
		td {
			padding: 0 10px;
			max-width: 30px;
		    max-width: 0;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		td.w70 {
		    width: 70%;
		}
		td.w60 {
		    width: 60%;
		}
		td.w50 {
		    width: 50%;
		}
		td.w40 {
		    width: 40%;
		}
		td.w20 {
		    width: 20%;
		}
		td.w15 {
		    width: 15%;
		}
	}
}

.useskill-datamining {
	.usdm-{
		
		&withscroll {
			position: relative;
			overflow: auto;
			max-height: 450px;
			width: 100%;
			
			&-x {
				position: relative;
				overflow-x: auto;
				width: 100%;
			}
			&-large {
				position: relative;
				overflow: auto;
				max-height: 600px;
				width: 100%;
			}
		}
	
		&box{
			background-color: white;
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #becde2;
			margin-bottom: 10px;
			
			&-header{
				margin: 15px 0 5px;
				border-bottom: 1px solid #becde2;
				
				&:first-child {
					margin: 0 0 5px;
				}	
			}
			
			&-body{
				.min-input-float {
				    display: inline-block;
				    width: 50px;
				    margin: -7px 0 2px 10px;
				    float: right;
				}
				.table-title {
					font-size: 15px;
					margin: 5px;
				}
				dl{
					dt{
						font-size: 15px;
						margin-bottom: 5px;
					}
					dd{
						margin-left: 0;
					}
					
					&.dl-with-margin-bottom {
						margin: 10px 5px;
					}
					padding: 5px 0;
					margin: 10px 5px 0;
					border-bottom: 1px solid lighten(#becde2, 12%);
				}
				
				input {
					margin-bottom: 0;
				}
				
				.actions-bottom{
					margin: 15px;
					
					a{
						margin-left: 10px;
					}
				}
			}
		}
		&clickable-box{
			display: block;
			box-sizing: border-box;
			width: 100%;
			min-height: 40px;
			margin: 5px 0;
			text-decoration: none;
			
			background-color: #f4f4f4;
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #becde2;
			box-shadow: 1px 2px 3px #becde2;
			transition: all 0.3s;
			
			color: @color-principal;
			
			&:hover,  &--active {
				text-decoration: none;
				color: @color-principal-hover;
			}
			
			&:hover {
				background-color: #f9f9f9;
				box-shadow: 1px 2px 5px #becde2;
			}
			
			&--active {
				background-color: white !important;
				box-shadow: 0px 3px 10px #becde2;
			}
			
			h2{
				font-size: 16px;
				line-height: 40px;
				
				&.usdm-title-collapse {
					cursor: pointer;
				}
			}
			
			&-content {
				padding-top: 10px;
				border-top: 1px solid #ccc;
			}
			
			&-form-lite {
				border: none;
	    		box-shadow: none;
	    		margin-bottom: 0;
			}
		}
		
		&mintitle {
			font-size: 14px;
			margin-bottom: 10px;
		}
		
		&info-box {
			box-sizing: border-box;
			border-radius: @usdm-info-box-radius;
			border: 1px solid #BBB;
			box-shadow: 1px 1px 3px #DDD;
			margin: 0 auto 15px;
			background: #FCFCFC;
			
			* {
				box-sizing: border-box;
			}
			
			&-title {
				border-top-left-radius: @usdm-info-box-radius;
				border-top-right-radius: @usdm-info-box-radius;
				color: @color-sessios-text;
				
				.usdm-info-box{
					&-label, &-span label {
						color: @color-sessios-text;
					}
				}
				&-SUCCESS {
					background: @usdm-color-green !important;
				}
				&-ERROR {
					background: @usdm-color-red !important;
				}
				&-THRESHOLD {
					background: @usdm-color-red !important;
				}
				&-REPEAT {
					background: @usdm-color-yellow !important;
				}
			}
			
			&-div {
				&2, &3, &4, &5, &6, &8, &9, &12, &-header { 
					position: relative;
					padding: 5px 15px;
					float: left; 
				    min-height: 30px;
					line-height: 30px;
					border-left: 1px solid #DDD;
					
					&:first-child {
						border-left: none !important;
					}
				}
				&2 { width: 16.6%; }
				&3 { width: 25%; }
				&4 { width: 33.3%; }
				&5 { width: 41.6%; }
				&6 { width: 50%; }
				&8 { width: 66.67%; }
				&9 { width: 75%; }
				&12 { width: 100%; }
				
				&-header {
					width: 100%;
				    text-align: center;
				    color: white;
				    font-size: 18px;
				    font-weight: bold;
				    border-top-left-radius: @usdm-info-box-radius;
					border-top-right-radius: @usdm-info-box-radius;
				    
				    background: @usdm-color-darken-gray;
				    border: 1px solid darken(@usdm-color-darken-gray, 10%);
				    
				    &-st {
				    	&-error {
				    		background: @usdm-color-darken-red !important;
				    		border: 1px solid darken(@usdm-color-darken-red, 10%);
				    	}
				    	&-ok {
				    		background: @usdm-color-darken-green !important;
				    		border: 1px solid darken(@usdm-color-darken-green, 10%);
				    	}
				    }
				    
				    &-sp {
				    	&-end, &-initial {
				    		background: @usdm-color-darken-black !important;
				    		border: 1px solid darken(@usdm-color-darken-black, 10%);
				    	}
				    	&-required {
				    		background: @usdm-color-darken-blue !important;
				    		border: 1px solid darken(@usdm-color-darken-blue, 10%);
				    	}
				    }
				    
				}
			}
			
			&-close {
				cursor: pointer;
			    position: absolute;
			    right: 13px;
			    top: 13px;
			}
			
			&-label {
				display: block;
				text-align: left;
				line-height: 16px;
				font-size: 12px;
				color: #9B9EA4;
			}
			
			&-span {
				&.usdm-info-box-text-left {
					text-align: left;
					margin-left: 0;
				}
				
				label {
					display: inline-block;
					font-size: 12px;
					color: #9B9EA4;
					margin-right: 10px;
				}
				
				text-align: center;
				display: inline-block;
				line-height: 25px;
				min-height: 25px;
				
				overflow: hidden;
    			text-overflow: ellipsis;
			}
			
			.row-fluid {
				border-bottom: 1px solid #DDD;
				&:last-child {
					border-bottom: none;
				}
			}
		}
		&title-margin {
			margin: 15px auto 5px;	
		}
		
		&refresh-link {
		
			padding: 10px;
			color: #DEE5F0;
			text-align: center;
			
			strong, span {
				margin-right: 5px;
			}
		}
		&div {
			&2 { width: 16.6%; }
			&3 { width: 25%; }
			&4 { width: 33.3%; }
			&5 { width: 41.6%; }
			&6 { width: 50%; }
			&8 { width: 66.67%; }
			&9 { width: 75%; }
			&12 { width: 100%; }
		}
		&btn-group {
			.btn {
				outline: none;
			}
		}
		&min-range {
			&-icon-left {
				margin: 2px 2px 0 5px;
			}
			&-icon-right {
				margin: 2px 5px 0 2px;
			}
			&-input {
				width: 100px;
			    height: 24px;
			    margin: 0;
			}
		}
		&split-text {
			display: block;
			text-align: right;
			clear: both;
		}
		
		&error-page {
			margin: 30px auto;
			width: 70%;
			
			&-img {
				display: block;
				margin: 0 auto;
			}
			
			&-link {
				display: block;
			    font-size: 14px;
			    margin: 20px auto;
			    text-decoration: underline;
				text-align: center;
			}
		}
		
		&info-utils {
			//padding: 10px;
			padding: 10px 0;
			margin: 10px 0;
			background: #F5F5F5;
			border: 1px solid #E3E3E3;
			
			&-title {
				border-bottom: 1px solid #EEE;
				//padding: 2px 0;
				padding: 10px 10px 0;
				margin-bottom: 8px;
			}
			
			&-body {
				text-align: justify;
			}
			
			&-info1, &-info2, &-info3, &-info4, &-info5 {
				width: 100%;
				margin: 0 auto;
				background-repeat: no-repeat;
			}
			
			&-info1{
				height: 300px;
				background-image: url("../../img/info/info1.png");
			}
			&-info2{
				height: 130px;
				background-image: url("../../img/info/info2.png");
			}
			&-info3{
				height: 130px;
				background-image: url("../../img/info/info3.png");
			}
			&-info4{
				height: 460px;
				background-image: url("../../img/info/info4.png");
			}
			&-info5{
				height: 460px;
				background-image: url("../../img/info/info5.png");
			}
		}
	}
}
.usdm-fixed-top-info {

	&.active {
		bottom: 10px;
	}
	
	.close {
		color: #42608A;
	    text-shadow: 0 1px 0 #DDD;
	    opacity: 0.75;
    }
	
	position: fixed;
	z-index: 10;
    width: 400px;
	bottom: -500px;
	
	margin-left: -200px;
    left: 50%;
    
    background-image: -webkit-radial-gradient(circle, rgba(58,87,128,1), rgba(85,123,178,0.8));
    background-repeat: no-repeat;
    background-position: top center;
    
    transition: bottom 1s, box-shadow 1s;
    box-shadow: 2px 2px 5px #3a5780;
}
.usdm-btn-primary-pulse {
	cursor: pointer;
	background: linear-gradient(1deg, #2864a4, #0086ff) !important;
	background-size: 400% 400%;
	animation: usdm-pulse 3s ease infinite;
}

@keyframes usdm-pulse { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.useskill-datamining{
	.form-actions{
		input, a, button {
			margin-left: 10px;
		}
	}
}
.chart-width-300 {
	margin: 0 auto;
	width: 300px !important;
}

.popover-inner{
	padding: 1px;
	background: @colorDark;
}
.popover-title{
	background: @colorDark;
	color: white;
	font-size: 14px;
}
.popover.bottom .arrow{
	border-bottom-color: @colorDark;
}
.text-green{
	font-weight: bold;
	color: green;
}
.text-red{
	font-weight: bold;
	color: firebrick;
}
.litle-margin-x {
	margin-left: 4px;
	margin-right: 4px;
}

.position-relative{
	position: relative;
}
.text-center{
	text-align: center !important;
}
.underline{
	text-decoration: underline;
}
.border-right{
	border-right: 1px solid #becde2;
}
.border-left{
	border-left: 1px solid #becde2;
}
.border-bottom{
	border-bottom: 1px solid #becde2;
}
.clear-both{
	clear: both;
}
a[ng-click]{
    cursor: pointer;
}

input[type=number].number-disable::-webkit-inner-spin-button,
input[type=number].number-disable::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.graph-actions {
	width: 100%;
    height: 280px;
    border: 1px solid lightgray;
    margin: 10px 0;
    box-shadow: 1px 1px 3px #DDD;
    border-radius: 3px;
}

.session{
	&-SUCCESS td {
		background: @usdm-color-green !important;
		color: @color-sessios-text;
	}
	&-ERROR td {
		background: @usdm-color-red !important;
		color: @color-sessios-text;
	}
	&-THRESHOLD td {
		background: @usdm-color-red !important;
		color: @color-sessios-text;
	}
	&-REPEAT td {
		background: @usdm-color-yellow !important;
		color: @color-sessios-text;
	}
}

.action-required td,
.action-required.action-situation-ok td,
.action-required.action-situation-error td,{
	background: @usdm-color-blue !important;
}
.action-situation{
	&-ok td {
		background: @usdm-color-green !important;
	}
	&-error td {
		background: @usdm-color-red !important;
	}
	&-ok, &-error, &- {
		cursor: pointer;
	}
}

.table-labels {
	.title{
		font-size: 9pt;
		font-weight: bold;
		color: #888;
		margin: 5px;
	}
	.label {
		margin: 5px;
	}
}

.btn-large-middle {
	margin: 20px auto;
    float: none;
    position: relative;
    display: block;
    width: 40%;
    padding: 20px 0px;
}
.u-width-full {
	width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.u-width-100 {
	width: 100% !important;
    box-sizing: border-box !important;
}
.u-margin-right-btn {
	margin-right: 10px;
}
.u-margin-0 {
	margin: 0 !important;
}
select, textarea, input {
	&.u-input-border-box{
		padding: 14px 7px;
	}
}
.network-options {
	margin: 0 0 20px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid #EEE;
}
.btn-group .pull-right {
	float: right !important;
}

.longLoader {
	position: fixed;
	z-index: 999990;
	width: 70%;
	min-width: 100px;
	margin-left: 15%;
	margin-top: 22%; //60px;
	height: 100px;
    border: none;
    outline: none;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    background: transparent;
}