<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.tasks.details' | translate}}</li>
		</ul>
		
		<div ng-show="success" class="alert alert-success">
			{{ success }}<br />
		</div>
		<div ng-show="errors" class="alert alert-error">
			<span ng-repeat="error in errors">
				{{ error }}<br />
			</span>
		</div>
	    
		<div class="row show-grid">
		    <div class="span6 border-right">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.tasks.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.tasks.title' | translate}}:</dt>
			            	<dd>{{taskCtrl.task.title}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.tasks.threshold' | translate}}:</dt>
			            	<dd>{{taskCtrl.task.threshold}}</dd>
			            </dl>
			            <div class="actions-bottom">
<!-- 	 		            	<a class="btn btn-danger pull-right" ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/tarefas/excluir/{{taskCtrl.task.id}}" title="{{ 'datamining.delete' | translate}}"><span class="icon-white icon-trash"></span> {{ 'datamining.delete' | translate}}</a> -->
							<a class="btn btn-primary pull-right" ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/tarefas/{{taskCtrl.task.id}}/avaliar" title="{{ 'datamining.edit' | translate}}"><span class="icon-white icon-tasks"></span> {{ 'datamining.tasks.evaluate' | translate}}</a>
		        			<a class="btn pull-right" ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/tarefas/editar/{{taskCtrl.task.id}}" title="{{ 'datamining.edit' | translate}}"><span class="icon-edit"></span> {{ 'datamining.edit' | translate}}</a>
		        			<div class="clear-both"></div>
			            </div>
		            </div>
		    	</div>
		    </div>
	        <div class="span6">
	        	<h2>
		    		{{ 'datamining.tasks.actions.start' | translate}}
		    		<a class="btn btn-primary pull-right" ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/tarefas/{{taskCtrl.task.id}}/acoes/add">{{ 'datamining.tasks.actions.add' | translate}}</a>
	            </h2>
	            
	            <table class="table table-striped table-bordered table-condensed datamining-table datamining-table-ellipsis" style="background-color: white">
	                <thead>
	                    <tr>
	                        <th>{{ 'datamining.tasks.action' | translate}}</th>
	                        <th>{{ 'datamining.tasks.actions.element' | translate}}</th>
	                        <th>{{ 'datamining.tasks.actions.url' | translate}}</th>
	                    </tr>
	                </thead>
	                <tbody>
                        <tr ng-repeat="action in taskCtrl.task.actionsInitial | orderBy:'id'">
                            <td class="td-link centertd w20">
                            	{{action.actionType}}
                            </td>
                            <td class="td-link centertd w40">
                            	<div ng-repeat="elem in action.elementFiedlSearch" title="[{{elem.field}}]='{{elem.value}}';">[{{elem.field}}]="{{elem.value}}";</div>
                            </td>
                            <td class="td-link centertd w40">
                            	<div ng-repeat="url in action.urlFieldSearch" title="[{{url.field}}]='{{url.value}}';">[{{url.field}}]="{{url.value}}";</div>
                            </td>
                        </tr>
	                </tbody>
	            </table>

				<div class="border-bottom" style="display:block; width: 100%;"></div>
	            
	            <h2>
		    		{{ 'datamining.tasks.actions.end' | translate}}
	            </h2>
	            
	            <table class="table table-striped table-bordered table-condensed datamining-table datamining-table-ellipsis" style="background-color: white">
	                <thead>
	                    <tr>
	                        <th>{{ 'datamining.tasks.action' | translate}}</th>
	                        <th>{{ 'datamining.tasks.actions.element' | translate}}</th>
	                        <th>{{ 'datamining.tasks.actions.url' | translate}}</th>
	                    </tr>
	                </thead>
	                <tbody>
                        <tr ng-repeat="action in taskCtrl.task.actionsEnd | orderBy:'id'">
                            <td class="td-link centertd w20">
                            	{{action.actionType}}
                            </td>
                            <td class="td-link centertd w40">
                            	<div ng-repeat="elem in action.elementFiedlSearch" title="[{{elem.field}}]='{{elem.value}}';">[{{elem.field}}]="{{elem.value}}";</div>
                            </td>
                            <td class="td-link centertd w40">
                            	<div ng-repeat="url in action.urlFieldSearch" title="[{{url.field}}]='{{url.value}}';">[{{url.field}}]="{{url.value}}";</div>
                            </td>
                        </tr>
	                </tbody>
	            </table>
		            
		            
	        </div>
	        
	    </div>	    

    </div>