<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/tarefas/{{taskCtrl.task.id}}"> 
					{{ 'datamining.tasks.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.tasks.evaluate' | translate}}</li>
		</ul>
		
		<div ng-show="success" class="alert alert-success">
			{{ success }}<br />
		</div>
		<div ng-show="errors" class="alert alert-error">
			<span ng-repeat="error in errors">
				{{ error }}<br />
			</span>
		</div>
	    
		<div class="row show-grid">
		    <div class="span4 border-right">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.tasks.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.tasks.title' | translate}}:</dt>
			            	<dd>{{taskCtrl.task.title}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.tasks.threshold' | translate}}:</dt>
			            	<dd>{{taskCtrl.task.threshold}} {{ 'minutes' | translate}}</dd>
			            </dl>
		            </div>
		            
		            <br/>
		            
		            <h3 class="usdm-box-header">
			    		{{ 'datamining.tasks.evaluate.graphs.completude' | translate}}
		            </h3>  
					  
					<canvas id="base" class="chart-base" chart-type="graphSuccessType" data="graphSuccessData" 
						labels="graphSuccessLabels" legend="true" click="graphSuccessToggle" colours="graphSuccessColours"></canvas>
		              	
					<br/>
					
					<div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.tasks.evaluate.actions.ok.title' | translate}}:</dt>
			            	<dd>
			            		{{ 'qtd' | translate }}: <span class="text-green">{{taskCtrl.evaluate.minActionsOk | number:0}}</span> {{ 'to' | translate }} <span class="text-red">{{taskCtrl.evaluate.maxActionsOk | number:0}}</span> {{ 'actions' | translate }}. <br/>
			            		{{ 'mean' | translate }}: <b>{{taskCtrl.evaluate.meanActionsOk | number:2}}</b> | {{ 'stdv' | translate }}: <b>{{taskCtrl.evaluate.stdDevActionsOk | number:2}} </b> {{ 'actions' | translate }}.
			            	</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.tasks.evaluate.time.ok.title' | translate}}:</dt>
			            	<dd>
			            		{{ 'qtd' | translate }}: <span class="text-green">{{taskCtrl.evaluate.minTimesOk | msConverter}}</span> {{ 'to' | translate }} <span class="text-red">{{taskCtrl.evaluate.maxTimesOk | msConverter}}</span>. <br/>
			            		{{ 'mean' | translate }}: <b>{{taskCtrl.evaluate.meanTimesOk | msConverter}}</b> | {{ 'stdv' | translate }}: <b>{{taskCtrl.evaluate.stdDevTimesOk | msConverter}}.</b>
			            	</dd>
			            </dl>
		            </div>
					
<!-- 					<h3 class="usdm-box-header"> -->
<!-- 			    		{{ 'datamining.tasks.evaluate.graphs.history' | translate}} -->
<!-- 		            </h3> -->
		            
<!-- 		            <canvas id="line" class="chart chart-line" data="historyData" -->
<!-- 					  	labels="historyLabels" legend="true" series="historySeries"></canvas> -->
		            
		    	</div>
		    </div>
	        <div class="span8">
	            <div class="usdm-box">
		    		
		            	<h2 class="usdm-box-header">
		            		<a ng-show="taskCtrl.previousMode" class="btn" ng-click="backMode()" style="margin-bottom: 4px;"><i class="icon-chevron-left"></i></a>
				    		{{ taskCtrl.mode.title }} 
				    		<select ng-model="taskCtrl.mode" ng-options="m as m.desc for m in taskCtrl.modesArr | filter:{ notAnOption : false }" class="pull-right"></select>
			            </h2>
			            
			            <div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'users'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      <th ts-criteria="actionsAverageOk|parseFloat">{{ 'datamining.tasks.evaluate.actions' | translate }}</th>
							      <th ts-criteria="timesAverageOk|parseFloat">{{ 'datamining.tasks.evaluate.time' | translate }}</th>
							      <th ts-criteria="rateSuccess|parseFloat">{{ 'datamining.tasks.evaluate.rateSuccess' | translate }}</th>
							      <th ts-criteria="rateSuccess|parseFloat">{{ 'datamining.tasks.evaluate.rateRequired' | translate }}</th>
							      <th ts-criteria="countSessionsSuccess+countSessionsRepeat+countSessionsThreshold|parseInt">{{ 'datamining.tasks.evaluate.sessions.total' | translate }}</th>
							      <th ts-criteria="fuzzyPriority|parseFloat" ts-default="descending">{{ 'datamining.tasks.evaluate.priority' | translate }}</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="user in taskCtrl.evaluate.users" ts-repeat>
							      <td><a ng-click="showUserSessions(user)">{{user.username}}</a></td>
							      <td>{{user.actionsAverageOk | number:2}}</td>
							      <td>{{user.timesAverageOk | msConverter}}</td>
							      <td>{{user.rateSuccess | number:2}} %</td>
							      <td>{{user.userRateRequired | number:2}} %</td>
							      <td title="{{ 'datamining.tasks.evaluate.complete' | translate }} = {{user.countSessionsSuccess}} | {{ 'datamining.tasks.evaluate.restart' | translate }} = {{user.countSessionsRepeat}} | {{ 'datamining.tasks.evaluate.threshold' | translate }} = {{user.countSessionsThreshold}}">
							      	{{user.countSessionsSuccess + user.countSessionsRepeat + user.countSessionsThreshold}}
							      </td>
							      <td>{{user.fuzzyPriority | number:3}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'userSessions'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      <th ts-criteria="actions|parseInt">Acoes</th>
							      <th ts-criteria="time|parseInt">Tempo</th>
							      <th ts-criteria="(1-userRateSuccess)*100|parseFloat">Completude</th>
							      <th ts-criteria="userRateRequired*100|parseFloat">Corretude</th>
							      <th ts-criteria="classification|lowercase">Class</th>
							      <th ts-criteria="fuzzyPriority|parseFloat" ts-default="descending">Fuzzy</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="session in taskCtrl.userSessions" ts-repeat>
							      <td><a ng-click="showActionsSession(session)">{{session.id}}</a></td>
							      <td>{{session.actions.length | number:2}}</td>
							      <td>{{session.time | msConverter}}</td>
							      <td>{{(1-session.userRateSuccess)*100 | number:2}} %</td>
							      <td>{{session.userRateRequired*100 | number:2}} %</td>
							      <td>{{session.classification}}</td>
							      <td>{{session.fuzzyPriority | number:3}}</td>
							    </tr>
							  </tbody>
							</table>
			            </div>
			            <div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'sessions'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      <th ts-criteria="actions|parseInt">Acoes</th>
							      <th ts-criteria="time|parseInt">Tempo</th>
							      <th ts-criteria="(1-userRateSuccess)*100|parseFloat">Completude</th>
							      <th ts-criteria="userRateRequired*100|parseFloat">Corretude</th>
							      <th ts-criteria="classification|lowercase">Class</th>
							      <th ts-criteria="fuzzyPriority|parseFloat" ts-default="descending">Fuzzy</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr class="useskill-action-popover" ng-repeat="session in taskCtrl.evaluate.sessions" ts-repeat>
							      <td><a ng-click="showActionsSession(session)">{{session.id}}</a></td>
							      <td>{{session.actions.length | number:2}}</td>
							      <td>{{session.time | msConverter}}</td>
							      <td>{{(1-session.userRateSuccess)*100 | number:2}} %</td>
							      <td>{{session.userRateRequired*100 | number:2}} %</td>
							      <td>{{session.classification}}</td>
							      <td>{{session.fuzzyPriority | number:3}}</td>
							      
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actions'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="id">Id</th>
							      <th ts-criteria="time |parseInt" ts-default="ascending">Hora</th>
							      <th ts-criteria="action">Acao</th>
							      <th ts-criteria="element|lowercase">Elemento</th>
							      <th ts-criteria="local|lowercase">Local</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="action in taskCtrl.userSession.actions" ts-repeat>
							      <td color-action color-action-elem="action" color-ctrl="taskCtrl" title="Count = {{taskCtrl.evaluate.pageViewActionCount[action.identifier]}}">{{action.identifier}}</td>
							      <td>{{action.time | date:"dd/MM/yyyy ' ' HH:mm:ss"}}</td>
							      <td>{{action.action}}</td>
							      <td title="{{action.element}}">{{action.element | cut:true:15:'&hellip;'}}</td>
							      <td title="{{action.local}}">{{action.local | cut:true:15:'&hellip;'}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actionsCount'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="$key|lowercase">Id</th>
							      <th ts-criteria="count|parseInt" ts-default="descending">Count</th>
							      <th ts-criteria="value|lowercase">{{ 'datamining.tasks.actions.description' | translate }}</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="action in taskCtrl.actionsArr" ts-repeat>
								      <td color-action color-action-elem="action" color-ctrl="taskCtrl">{{ action.$key }}</td>
								      <td>{{ action.count }}</td>
								      <td>{{ action.value }}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actionsRequiredCount'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="$key|lowercase">{{ 'datamining.tasks.actions.description' | translate }}</th>
							      <th ts-criteria="value|parseInt" ts-default="descending">Count</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="action in taskCtrl.actionsRequiredArr" ts-repeat>
							      <td>{{ action.$key }}</td>
							      <td>{{ action.value }}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						
						
						<hr/>
					</div>
			    	
		    	</div>
	        </div>
	    </div>	    
    </div>