<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/tarefas"> 
					{{ 'datamining.testes.evaluation' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/avaliar/{{taskCtrl.evalTestId}}"> 
					{{ 'datamining.testes.tasks' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.tasks.evaluate' | translate}}</li>

		</ul>
		
		<div ng-show="success" class="alert alert-success">
			{{ success }}<br />
		</div>
		<div ng-show="errors" class="alert alert-error">
			<span ng-repeat="error in errors">
				{{ error }}<br />
			</span>
		</div>
	    
		<div class="row show-grid">
		    <div class="span4 border-right">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.tasks.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.tasks.title' | translate}}:</dt>
			            	<dd>{{taskCtrl.task.title}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.tasks.threshold' | translate}}:</dt>
			            	<dd>{{taskCtrl.task.threshold}} {{ 'minutes' | translate}}</dd>
			            </dl>
		            </div>
		            
		            <br/>
		            
		            <h3 class="usdm-box-header">
			    		{{ 'datamining.tasks.evaluate.graphs.completude' | translate}}
		            </h3>  
					  
					<canvas id="base" class="chart-base" chart-type="graphSuccessType" data="graphSuccessData" 
						labels="graphSuccessLabels" legend="true" click="graphSuccessToggle" colours="graphSuccessColours"></canvas>
		              	
					<br/>
					
					<div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.tasks.evaluate.actions.ok.title' | translate}}:</dt>
			            	<dd>
			            		{{ 'qtd' | translate }}: <span class="text-green">{{taskCtrl.result.minActionsOk | number:0}}</span> {{ 'to' | translate }} <span class="text-red">{{taskCtrl.result.maxActionsOk | number:0}}</span> {{ 'actions' | translate }}. <br/>
			            		{{ 'mean' | translate }}: <b>{{taskCtrl.result.meanActionsOk | number:2}}</b> | {{ 'stdv' | translate }}: <b>{{taskCtrl.result.stdDevActionsOk | number:2}} </b> {{ 'actions' | translate }}.
			            	</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.tasks.evaluate.time.ok.title' | translate}}:</dt>
			            	<dd>
			            		{{ 'qtd' | translate }}: <span class="text-green">{{taskCtrl.result.minTimesOk | msConverter}}</span> {{ 'to' | translate }} <span class="text-red">{{taskCtrl.result.maxTimesOk | msConverter}}</span>. <br/>
			            		{{ 'mean' | translate }}: <b>{{taskCtrl.result.meanTimesOk | msConverter}}</b> | {{ 'stdv' | translate }}: <b>{{taskCtrl.result.stdDevTimesOk | msConverter}}.</b>
			            	</dd>
			            </dl>
		            </div>
					
<!-- 					<h3 class="usdm-box-header"> -->
<!-- 			    		{{ 'datamining.tasks.evaluate.graphs.history' | translate}} -->
<!-- 		            </h3> -->
		            
<!-- 		            <canvas id="line" class="chart chart-line" data="historyData" -->
<!-- 					  	labels="historyLabels" legend="true" series="historySeries"></canvas> -->
		            
		    	</div>
		    </div>
	        <div class="span8">
	        
	        	<div class="row-fluid">
	        		<div class="span4">
	        			<a class="usdm-clickable-box text-center" ng-click="">
			            	<h2 class="ng-binding">Análise Guiada</h2>
			            </a>
	        		</div>
	        		<div class="span4">
	        			<a class="usdm-clickable-box text-center" ng-click="">
			            	<h2 class="ng-binding">Análise Avançada</h2>
			            </a>
	        		</div>
	        		<div class="span4">
	        			<a class="usdm-clickable-box text-center" ng-click="">
			            	<h2 class="ng-binding">Grafo de Uso</h2>
			            </a>
	        		</div>	        	
	        	</div>
	        
	        
	            <div class="usdm-box">
		    		
		            	<h2 class="usdm-box-header">
		            		<a ng-show="taskCtrl.previousMode" class="btn" ng-click="backMode()" style="margin-bottom: 4px;"><i class="icon-chevron-left"></i></a>
				    		{{ taskCtrl.mode.title }} 
				    		<select ng-model="taskCtrl.mode" ng-options="m as m.desc for m in taskCtrl.modesArr | filter:{ notAnOption : false }" class="pull-right"></select>
			            </h2>
			            
			            <div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'users'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      
							      <th ts-criteria="actionsAverageOk|parseFloat">{{ 'datamining.tasks.evaluate.actions' | translate }}</th>
							      <th ts-criteria="timesAverageOk|parseFloat">{{ 'datamining.tasks.evaluate.time' | translate }}</th>
							      <th ts-criteria="rateSuccess|parseFloat">{{ 'datamining.tasks.evaluate.rateSuccess' | translate }}</th>
							      <th ts-criteria="rateSuccess|parseFloat">{{ 'datamining.tasks.evaluate.rateRequired' | translate }}</th>
							      <th ts-criteria="countSessionsSuccess+countSessionsRepeat+countSessionsThreshold|parseInt">{{ 'datamining.tasks.evaluate.sessions.total' | translate }}</th>

<!-- 							      <th ts-criteria="efficiency|parseFloat">Eficiência</th> -->
<!-- 							      <th ts-criteria="effectiveness|parseFloat">Eficácia</th> -->
							      
							      <th ts-criteria="fuzzyPriority|parseFloat" ts-default="descending">{{ 'datamining.tasks.evaluate.priority' | translate }}</th>
							      <th ts-criteria="fuzzyPriorityEfcEft|parseFloat">F2</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="user in taskCtrl.result.users" ts-repeat>
							      <td><a ng-click="showUserSessions(user)">{{user.username}}</a></td>
							      
							      <td>{{user.actionsAverageOk | number:2}}</td>
							      <td>{{user.timesAverageOk | msConverter}}</td>
							      <td>{{user.rateSuccess | number:2}} %</td>
							      <td>{{user.userRateRequired | number:2}} %</td>
							      <td title="{{ 'datamining.tasks.evaluate.complete' | translate }} = {{user.countSessionsSuccess}} | {{ 'datamining.tasks.evaluate.restart' | translate }} = {{user.countSessionsRepeat}} | {{ 'datamining.tasks.evaluate.threshold' | translate }} = {{user.countSessionsThreshold}}">
							      	{{user.countSessionsSuccess + user.countSessionsRepeat + user.countSessionsThreshold}}
							      </td>
							      
<!-- 							      <td>{{user.efficiency | number:3}}</td> -->
<!-- 							      <td>{{user.effectiveness | number:3}}</td> -->
							      
							      <td>{{user.fuzzyPriority | number:3}}</td>
							      <td title="Efici.={{user.efficiency | number:2}}[{{user.efficiencyNormalized | number:2}}], Efica.={{user.effectiveness | number:2}}[{{user.effectivenessNormalized | number:2}}]">{{user.fuzzyPriorityEfcEft | number:3}}</td>
							      
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'userSessions'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      <th ts-criteria="actions|parseInt">Acoes</th>
							      <th ts-criteria="time|parseInt">Tempo</th>
							      <th ts-criteria="userRateSuccess|parseFloat">Completude</th>
							      <th ts-criteria="userRateRequired*100|parseFloat">Corretude</th>
							      <th ts-criteria="classification|lowercase">Class</th>
							      <th ts-criteria="fuzzyPriority|parseFloat" ts-default="descending">Fuzzy</th>
							      <th ts-criteria="fuzzyPriorityEfcEft|parseFloat">F2</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="session in taskCtrl.userSessions" ts-repeat>
							      <td><a ng-click="showActionsSession(session)">{{session.id}}</a></td>
							      <td>{{session.actions.length | number:2}}</td>
							      <td>{{session.time | msConverter}}</td>
							      <td>{{session.userRateSuccess | number:2}} %</td>
							      <td>{{session.userRateRequired | number:2}} %</td>
							      <td>{{session.classification}}</td>
							      <td>{{session.fuzzyPriority | number:3}}</td>
							      <td title="Efici.={{session.efficiency | number:2}}[{{session.efficiencyNormalized | number:2}}], Efica.={{session.effectiveness | number:2}}[{{session.effectivenessNormalized | number:2}}]">{{session.fuzzyPriorityEfcEft | number:3}}</td>
							    </tr>
							  </tbody>
							</table>
			            </div>
			            <div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'sessions'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      <th ts-criteria="actions|parseInt">Acoes</th>
							      <th ts-criteria="time|parseInt">Tempo</th>
							      <th ts-criteria="userRateSuccess|parseFloat">Completude</th>
							      <th ts-criteria="userRateRequired*100|parseFloat">Corretude</th>
							      <th ts-criteria="classification|lowercase">Class</th>
							      <th ts-criteria="fuzzyPriority|parseFloat" ts-default="descending">Fuzzy</th>
							      <th ts-criteria="fuzzyPriorityEfcEft|parseFloat">F2</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr class="useskill-action-popover" ng-repeat="session in taskCtrl.result.sessions" ts-repeat>
							      <td><a ng-click="showActionsSession(session)">{{session.id}}</a></td>
							      <td>{{session.actions.length | number:2}}</td>
							      <td>{{session.time | msConverter}}</td>
							      <td>{{session.userRateSuccess | number:2}} %</td>
							      <td>{{session.userRateRequired | number:2}} %</td>
							      <td>{{session.classification}}</td>
							      <td>{{session.fuzzyPriority | number:3}}</td>
							      <td title="Efici.={{session.efficiency | number:2}}[{{session.efficiencyNormalized | number:2}}], Efica.={{session.effectiveness | number:2}}[{{session.effectivenessNormalized | number:2}}]">{{session.fuzzyPriorityEfcEft | number:3}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actions'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="id">Id</th>
							      <th ts-criteria="id">Fav.</th>
							      <th ts-criteria="time |parseInt" ts-default="ascending">Hora</th>
							      <th ts-criteria="action">Acao</th>
							      <th ts-criteria="element|lowercase">Elemento</th>
							      <th ts-criteria="local|lowercase">Local</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="action in taskCtrl.userSession.actions" ts-repeat>
							      <td color-action color-action-elem="action" color-ctrl="taskCtrl" title="Count = {{taskCtrl.result.pageViewActionCount[action.identifier]}}">{{action.identifier}}</td>
							      <td class="text-center" ng-click="toggleFavoriteAction(action)">
							      	<i ng-show="isActionFavorite(action)" class="icon-star"></i>
							      	<i ng-hide="isActionFavorite(action)" class="icon-star-empty"></i>
							      </td>
							      <td>{{action.time | date:"dd/MM/yyyy ' ' HH:mm:ss"}}</td>
							      <td>{{action.action}}</td>
							      <td title="{{action.element}}">{{action.element | cut:true:15:'&hellip;'}}</td>
							      <td title="{{action.local}}">{{action.local | cut:true:15:'&hellip;'}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actionsCount'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="$key|lowercase">Id</th>
							      <th ts-criteria="count|parseInt" ts-default="descending">Count</th>
							      <th ts-criteria="value|lowercase">{{ 'datamining.tasks.actions.description' | translate }}</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="action in taskCtrl.actionsArr" ts-repeat>
								      <td color-action color-action-elem="action" color-ctrl="taskCtrl">{{ action.$key }}</td>
								      <td>{{ action.count }}</td>
								      <td>{{ action.value }}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actionsRequiredCount'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							    	<th ts-criteria="value|parseInt" ts-default="descending">Count</th>
							      <th ts-criteria="$key|lowercase">{{ 'datamining.tasks.actions.description' | translate }}</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="action in taskCtrl.actionsRequiredArr" ts-repeat>
							      <td>{{ action.value }}</td>
							      <td>{{ action.$key }}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						
						<!-- FREQUENT PATTERN MINING -->
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'frequentPatterns'">
							<div id="mynetwork"></div>
						
							<button ng-click="changeGraphType(false)">Sessions</button>
							<button ng-click="changeGraphType(true)">Patterns</button>
							<div class="usdm-withscroll">
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								      <th>{{ 'pattern' | translate }}</th>
								      <th ts-criteria="supportSize|parseInt" ts-default="descending">{{ 'datamining.pattern.support' | translate }}</th>
								      <th ts-criteria="itemsetsSize|parseInt" ts-default="descending">{{ 'datamining.pattern.itemsetsize' | translate }}</th>
								      <th ts-criteria="itemsetsFormattedText">{{ 'datamining.pattern' | translate }}</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="pattern in taskCtrl.frequentPatterns" ts-repeat>
								      <td><a ng-click="showFrequentPattern(pattern)">{{ 'pattern' | translate }} {{pattern.key}}</a></td>
								      <td>{{pattern.supportSize}}</td>
								      <td>{{pattern.itemsetsSize}}</td>
								      <td>{{pattern.itemsetsFormattedText}}</td>
								    </tr>
								  </tbody>
								</table>
							</div>
			            </div>
			            <div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'pattern'">
			            
			            	<div class="usdm-box-body">
					            <dl>
					            	<dt class="ng-binding">{{ 'datamining.pattern.metrics' | translate }}:</dt>
					            	<dd class="ng-binding">
					            		{{ 'datamining.pattern' | translate }}: <b>{{ taskCtrl.frequentPatternActive.itemsetsFormattedText }}</b>.<br/>
			            				{{ 'datamining.pattern.support.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.supportSize}}</b>.<br/>
			            				{{ 'datamining.pattern.effectiveness.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.effectivenessMean | number:2}}</b>.<br/>
			            				{{ 'datamining.pattern.efficiency.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.efficiencyMean | number:2}}</b>.<br/>
			            				{{ 'datamining.pattern.rateSuccess.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.successMean | number:2}}</b>.<br/>
			            				{{ 'datamining.pattern.rateRequired.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.requiredMean | number:2}}</b>.
					            	</dd>
					            </dl>
		            		</div>
		            		
		            		
		            		<br/>
		            		<h3>{{ 'datamining.pattern.actions' | translate }}</h3>
		            		<div class="usdm-withscroll">
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								      <th ts-criteria="id|parseInt">{{ 'id' | translate }}</th>
								      <th ts-criteria="count|parseInt">{{ 'count' | translate }}</th>
								      <th ts-criteria="desc">{{ 'datamining.tasks.actions.description' | translate }}</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="action in taskCtrl.frequentPatternActive.itemsetsFormatted" ts-repeat>
								      <td>{{action.idAction}}</td>
								      <td>{{action.count}}</td>
								      <td>{{action.desc}}</td>
								    </tr>
								  </tbody>
								</table>
							</div>
							
							
							<br/>
		            		<h3>{{ 'datamining.pattern.sessions' | translate }}</h3>
		            		<div class="usdm-withscroll">
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
								      <th ts-criteria="actions|parseInt">Acoes</th>
								      <th ts-criteria="time|parseInt">Tempo</th>
								      <th ts-criteria="userRateSuccess|parseFloat">Completude</th>
								      <th ts-criteria="userRateRequired*100|parseFloat">Corretude</th>
								      <th ts-criteria="classification|lowercase">Class</th>
								      <th ts-criteria="fuzzyPriority|parseFloat" ts-default="descending">Fuzzy</th>
								      <th ts-criteria="fuzzyPriorityEfcEft|parseFloat">F2</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="session in taskCtrl.frequentPatternActive.sessionsFormatted" ts-repeat>
								      <td><a ng-click="showActionsSession(session)">{{session.id}}</a></td>
								      <td>{{session.actions.length | number:2}}</td>
								      <td>{{session.time | msConverter}}</td>
								      <td>{{session.userRateSuccess | number:2}} %</td>
								      <td>{{session.userRateRequired | number:2}} %</td>
								      <td>{{session.classification}}</td>
								      <td>{{session.fuzzyPriority | number:3}}</td>
								      <td title="Efici.={{session.efficiency | number:2}}[{{session.efficiencyNormalized | number:2}}], Efica.={{session.effectiveness | number:2}}[{{session.effectivenessNormalized | number:2}}]">{{session.fuzzyPriorityEfcEft | number:3}}</td>
								    </tr>
								  </tbody>
								</table>
							</div>
							
			            </div>
						
						
						<hr/>
					</div>
			    	
		    	</div>
	        </div>
	    </div>	    
    </div>