<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/tarefas"> 
					{{ 'datamining.testes.evaluation' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{taskCtrl.task.testDataMining.id}}/avaliar/{{taskCtrl.evalTestId}}"> 
					{{ 'datamining.testes.tasks' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.tasks.evaluate' | translate}}</li>

		</ul>
		
		<div ng-show="success" class="alert alert-success">
			{{ success }}<br />
		</div>
		<div ng-show="errors" class="alert alert-error">
			<span ng-repeat="error in errors">
				{{ error }}<br />
			</span>
		</div>
	    
		<div class="row show-grid">
		    <div class="span4 border-right">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.tasks.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.tasks.title' | translate}}:</dt>
			            	<dd>{{taskCtrl.task.title}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.tasks.threshold' | translate}}:</dt>
			            	<dd>{{taskCtrl.task.threshold}} {{ 'minutes' | translate}}</dd>
			            </dl>
			            <dl>
			            	<dt>Reavaliar Tarefa:</dt>
			            	<dd>
			            		<a ng-class="{'disable' : sendDataChange}" class="btn btn-primary" ng-click="testCtrl.priority()" title="{{ 'datamining.priority' | translate}}">
			            			<span class="icon-white icon-tasks"></span>
			            			Enviar Dados e Reavaliar
			            		</a>
			            		<div class="clear-both"></div>
							</dd>
			            </dl>
			            
		            </div>
		            
		            <h3 class="usdm-box-header">
			    		{{ 'datamining' | translate}}
		            </h3>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.mining.minsupport' | translate}}:</dt>
			            	<dd>{{taskCtrl.result.lastMinSup * 100}} %</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.mining.minpattern' | translate}}:</dt>
			            	<dd>4</dd>
			            </dl>
		            </div>
		            
		            <br/>
		            
		            <h3 class="usdm-box-header">
			    		{{ 'datamining.tasks.evaluate.graphs.completude' | translate}}
		            </h3>  
					  
					<canvas id="base" class="chart-base" chart-type="graphSuccessType" data="graphSuccessData" 
						labels="graphSuccessLabels" legend="true" click="graphSuccessToggle" colours="graphSuccessColours"></canvas>
		              	
					<br/>
					
					<div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.tasks.evaluate.actions.ok.title' | translate}}:</dt>
			            	<dd>
			            		{{ 'qtd' | translate }}: <span class="text-green">{{taskCtrl.result.minActionsOk | number:0}}</span> {{ 'to' | translate }} <span class="text-red">{{taskCtrl.result.maxActionsOk | number:0}}</span> {{ 'actions' | translate }}. <br/>
			            		{{ 'mean' | translate }}: <b>{{taskCtrl.result.meanActionsOk | number:2}}</b> | {{ 'stdv' | translate }}: <b>{{taskCtrl.result.stdDevActionsOk | number:2}} </b> {{ 'actions' | translate }}.
			            	</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.tasks.evaluate.time.ok.title' | translate}}:</dt>
			            	<dd>
			            		{{ 'qtd' | translate }}: <span class="text-green">{{taskCtrl.result.minTimesOk | msConverter}}</span> {{ 'to' | translate }} <span class="text-red">{{taskCtrl.result.maxTimesOk | msConverter}}</span>. <br/>
			            		{{ 'mean' | translate }}: <b>{{taskCtrl.result.meanTimesOk | msConverter}}</b> | {{ 'stdv' | translate }}: <b>{{taskCtrl.result.stdDevTimesOk | msConverter}}.</b>
			            	</dd>
			            </dl>
		            </div>
					
<!-- 					<h3 class="usdm-box-header"> -->
<!-- 			    		{{ 'datamining.tasks.evaluate.graphs.history' | translate}} -->
<!-- 		            </h3> -->
		            
<!-- 		            <canvas id="line" class="chart chart-line" data="historyData" -->
<!-- 					  	labels="historyLabels" legend="true" series="historySeries"></canvas> -->
		            
		    	</div>
		    </div>
	        <div class="span8">
	        
	        	<div class="row-fluid">
	        		<div class="span4">
	        			<a class="usdm-clickable-box text-center" ng-class="{ 'usdm-clickable-box--active': isShowContentGraph() }" ng-click="showContentGraph()">
			            	<h2 class="ng-binding">Visualizar Grafo</h2>
			            </a>
	        		</div>
	        		<div class="span4">
	        			<a class="usdm-clickable-box text-center" ng-class="{ 'usdm-clickable-box--active': isShowContentGuide() }" ng-click="showContentGuide()">
			            	<h2 class="ng-binding">Análise Guiada</h2>
			            </a>
	        		</div>
	        		<div class="span4">
	        			<a class="usdm-clickable-box text-center" ng-class="{ 'usdm-clickable-box--active': isShowContentAdvanced() }" ng-click="showContentAdvanced()">
			            	<h2 class="ng-binding">Análise Avançada</h2>
			            </a>
	        		</div>	        	
	        	</div>
	        	
	        	<div>
	        	
	        		<!-- VISUALIZAR GRAFO -->
	        		<div ng-show="isShowContentGraph()">
		        		<div class="usdm-box">
		        			<h2 class="usdm-box-header">
		        				Visualizar Grafo
		        			</h2>
		        			<div class="usdm-box-body">
		        				<dl>
					            	<dt class="ng-binding">Configurações do Grafo:</dt>
					            	<dd class="ng-binding">
					            		Quantidade de nós: <b>{{ graph.body.nodeIndices.length }}</b>.<br/>
			            				Quantidade de arestas: <b>{{ graph.body.edgeIndices.length }}</b>.<br/>
			            				Tipo do Grafo: <b>{{ graphType.desc }}</b>.<br/>
			            				<span>Alterar Tipo do Grafo:</span> 
			        					<a class="btn ng-binding" ng-class="{ 'btn-primary' : graphType.id == 'sessions' }" ng-click="changeGraphType(false)">{{ graphTypeEnum.SESSIONS.desc }}</a>
			        					<a class="btn ng-binding" ng-class="{ 'btn-primary' : graphType.id == 'patterns' }" ng-click="changeGraphType(true)">{{ graphTypeEnum.PATTERNS.desc }}</a>
			        					<br/>
			        					Distância entre nós do Grafo (X): <input style="margin: 5px;" type="text" class="span1" placeholder="Distância entre nós (X)" ng-model="factorScaleX"/>
					            	</dd>
					            </dl>
		        				<div id="mynetwork" class="graph-actions"></div>
		        				<div class="btn-group">
								    <button ng-click="zoomOutGraph('graphsession')" class="btn"><i class="icon-zoom-in"/></button>
								    <button ng-click="zoomInGraph('graphsession')" class="btn"><i class="icon-zoom-out"/></button>
								    <button ng-click="resetGraph('graphsession')" class="btn"><i class="icon-screenshot"/></button>
								 </div>
		        			</div>
		        		</div>
		        		
		        		<div id="mynetwork-info" class="usdm-box" ng-show="taskCtrl.nodeSelected != null || taskCtrl.edgeSelected != null">
	       					<div ng-show="taskCtrl.nodeSelected != null">
	       						<h2 class="usdm-box-header">
			        				Nó Selecionado
			        			</h2>
			        			<div class="usdm-box-body">
		       						<dl>
						            	<dt class="ng-binding">Informações da Ação:</dt>
						            	<dd class="ng-binding">
						            		Ação: <b>{{ taskCtrl.nodeSelected.action.action }}</b>;<br/>
						            		Tag: <b>{{ taskCtrl.nodeSelected.action.infoTag }}</b>;<br/>
				            				Name: <b>{{ taskCtrl.nodeSelected.action.infoName }}</b>;<br/>
				            				Conteúdo: <b>{{ taskCtrl.nodeSelected.action.infoContent }}</b>;<br/>
				            				Posição [X,Y]: <b>[{{ taskCtrl.nodeSelected.action.infoPosX }},{{ taskCtrl.nodeSelected.action.infoPosY }}]</b>;<br/>
				            				Elemento (XPath): <b>{{ taskCtrl.nodeSelected.action.element }}</b>;<br/>
				            				Local: <b>{{ taskCtrl.nodeSelected.action.local }}</b>;<br/>
						            	</dd>
						            </dl>
		       						<dl class="dl-with-margin-bottom">
						            	<dt class="ng-binding">Informações do Nó:</dt>
						            	<dd class="ng-binding">
						            		Situação: <select ng-model="situationAux"
										        ng-change="selectSituationAction(taskCtrl.nodeSelected.id, situationAux)"
						            			ng-options="s as s.desc for (k, s) in situationsEnum"></select> 
						            			<span ng-show="taskCtrl.nodeSelected.action.required"> (Ação Obrigatória)</span><br/>
						            		Ação Especial: <select ng-model="specialSituationAux"
										        ng-change="selectSpecialSituationAction(taskCtrl.nodeSelected.id, specialSituationAux)"
						            			ng-options="s as s.desc for (k, s) in specialActionsEnum"></select><br/>
						            		Id: <b>{{ taskCtrl.nodeSelected.id }}</b>;<br/>
				            				Nome: <b>{{ taskCtrl.nodeSelected.name }}</b>;<br/>
				            				Realizado: <b>{{ taskCtrl.nodeSelected.value }} vezes</b>;<br/>
				            				Arestas Para: <b>{{ taskCtrl.nodeSelected.edgesTo }}</b>;<br/>
				            				Arestas De: <b>{{ taskCtrl.nodeSelected.edgesFrom }}</b>;<br/>
				            				Padrões Presentes: <b>{{ taskCtrl.nodeSelected.patternsCount }} / {{ taskCtrl.frequentPatterns.length }}</b>;<br/>
				            				Quantidade de Sessões: <b>{{ taskCtrl.nodeSelected.sessions.length }}</b>.<br/>
						            	</dd>
						            </dl>
						            <h3 class="table-title">Sessões que contém este nó:</h3>
						            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  			<thead>
							  				<th ts-criteria="id|lowercase">Id</th>
							  				<th ts-criteria="qdtActions|parseInt">Qtd. Ações</th>
							  				<th ts-criteria="time|parseInt">Tempo</th>
							  				<th ts-criteria="success|parseFloat">Completude</th>
							  				<th ts-criteria="required|parseFloat">Corretude</th>
							  				<th ts-criteria="effectiveness|parseFloat">Eficácia</th>
							  				<th ts-criteria="efficiency|parseFloat">Eficiência</th>
							  			</thead>
							            <tbody>
										    <tr class="session-{{session.classification}}" ng-repeat="session in taskCtrl.nodeSelected.sessions" ts-repeat>
										      <td><a ng-click="showActionsSessionFromGraph(session)">{{session.id}}</a></td>
										      <td>{{session.qdtActions}}</td>
										      <td>{{session.time | msConverter}}</td>
										      <td>{{session.success | number:2}}</td>
										      <td>{{session.required | number:2}}</td>
										      <td>{{session.effectiveness | number:2}}</td>
										      <td>{{session.efficiency | number:2}}</td>
										    </tr>
										</tbody>
									</table>
									<div class="table-labels">
										<span class="title">{{ 'label' | translate }}:</span>
										<span ng-repeat="label in classificationEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
									</div>
								</div>
	       					</div>
	       					<div ng-show="taskCtrl.edgeSelected != null">
	       						<h2 class="usdm-box-header">
			        				Aresta Selecionada
			        			</h2>
			        			<div class="usdm-box-body">
			        				<dl>
						            	<dt class="ng-binding">Informações da Aresta:</dt>
						            	<dd class="ng-binding">
						            		De: <b>{{ taskCtrl.edgeSelected.fromId }}</b>;<br/>
				            				Para: <b>{{ taskCtrl.edgeSelected.toId }}</b>;<br/>
				            				Realizado: <b>{{ taskCtrl.edgeSelected.value }} vezes</b>.<br/>
						            	</dd>
						            </dl>
						            <h3 class="table-title">Sessões que contém esta aresta:</h3>
						            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  			<thead>
							  				<th ts-criteria="id|lowercase">Id</th>
							  				<th ts-criteria="qdtActions|parseInt">Qtd. Ações</th>
							  				<th ts-criteria="time|parseInt">Tempo</th>
							  				<th ts-criteria="success|parseFloat">Completude</th>
							  				<th ts-criteria="required|parseFloat">Corretude</th>
							  				<th ts-criteria="effectiveness|parseFloat">Eficácia</th>
							  				<th ts-criteria="efficiency|parseFloat">Eficiência</th>
							  			</thead>
							            <tbody>
										    <tr class="session-{{session.classification}}" ng-repeat="session in taskCtrl.edgeSelected.sessions" ts-repeat>
										      <td><a ng-click="showActionsSessionFromGraph(session)">{{session.id}}</a></td>
										      <td>{{session.qdtActions}}</td>
										      <td>{{session.time | msConverter}}</td>
										      <td>{{session.success | number:2}}</td>
										      <td>{{session.required | number:2}}</td>
										      <td>{{session.effectiveness | number:2}}</td>
										      <td>{{session.efficiency | number:2}}</td>
										    </tr>
										</tbody>
									</table>
									<div class="table-labels">
										<span class="title">{{ 'label' | translate }}:</span>
										<span ng-repeat="label in classificationEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
									</div>
			        			</div>
					        </div>
	       				</div>
	       			</div>
	        		
	        		
	        		
	        		<!-- ANALISE GUIADA -->
	        		<div ng-show="isShowContentGuide()">
	        			<div class="usdm-box" ng-show="step == '1'">
	        				<ul class="breadcrumb">
							  <li class="active">Visualizar Sessões</li>
							</ul>
		        			<h2 class="usdm-box-header">
		        				1 - Visualizar Sessões:
		        			</h2>
		        			<div class="usdm-box-body">
		        				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								    	<th ts-criteria="order|parseInt" ts-default="ascending">Prior.</th>
								      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
								      <th ts-criteria="actions|parseInt">Acoes</th>
								      <th ts-criteria="time|parseInt">Tempo</th>
								      <th ts-criteria="userRateSuccess|parseFloat">Complet.</th>
								      <th ts-criteria="userRateRequired*100|parseFloat">Corret.</th>
								      <th ts-criteria="classification|lowercase">Classific.</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr class="session-{{session.classification}}" ng-repeat="session in sessionsGuide" ts-repeat>
								      <td class="text-center">{{session.order}}</td>
								      <td><a ng-click="showActionsSessionGuide(session)">{{session.id}}</a></td>
								      <td>{{session.actions.length | number:2}}</td>
								      <td>{{session.time | msConverter}}</td>
								      <td>{{session.userRateSuccess | number:2}} %</td>
								      <td>{{session.userRateRequired | number:2}} %</td>
								      <td>{{getClassificationFromEnum(session.classification).desc}}</td>
								    </tr>
								  </tbody>
								</table>
								<div class="table-labels">
									<span class="title">{{ 'label' | translate }}:</span>
									<span ng-repeat="label in classificationEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
								</div>
		        			</div>
		        		</div>
		        		<div class="usdm-box" ng-show="step == '1.1'">
		        			<ul class="breadcrumb">
							  <li><a ng-click="goToGuideStep('1')">Visualizar Sessões</a> <span class="divider">/</span></li>
							  <li class="active">Visualizar Ações</li>
							</ul>
		        			<h2 class="usdm-box-header">
		        				1.1 - Visualizar Ações:
		        				<a ng-click="goToGuideStep('2')" class="btn litle-margin-x btn-primary pull-right">{{ 'nextStep' | translate }}</a>
		        				<a ng-click="goToGuideStep('1')" class="btn litle-margin-x pull-right">{{ 'backStep' | translate }}</a>
		        			</h2>
		        			<div class="usdm-box-body">
			        			<dl class="dl-with-margin-bottom">
									<dt class="ng-binding">Informações da Sessão:</dt>
					            	<dd class="ng-binding">
										Id: <b>{{ sessionSelected.id }}</b>;<br/>
										Classificação: <b>{{ getClassificationFromEnum(sessionSelected.classification).desc }}</b>;<br/>
										Usuário: <b>{{ sessionSelected.username }}</b>;<br/>
										Completude: <b>{{ sessionSelected.userRateSuccess | number:2}} %</b>;<br/>
										Corretude: <b>{{ sessionSelected.userRateRequired | number:2}} %</b>;<br/>
										Quantidade de nós: <b>{{ graphsession.body.nodeIndices.length }}</b>;<br/>
			            				Quantidade de arestas: <b>{{ graphsession.body.edgeIndices.length }}</b>.<br/>
					            	</dd>
					            </dl>
					            <div id="mynetworkSession" class="graph-actions"></div>
				            	<div class="btn-group">
								    <button ng-click="zoomOutGraph('graphsession')" class="btn"><i class="icon-zoom-in"/></button>
								    <button ng-click="zoomInGraph('graphsession')" class="btn"><i class="icon-zoom-out"/></button>
								    <button ng-click="resetGraph('graphsession')" class="btn"><i class="icon-screenshot"/></button>
								 </div>
								<dl class="dl-with-margin-bottom" ng-show="taskCtrl.actionViewSelected != null">
					            	<dt class="ng-binding">Informações da Ação:</dt>
					            	<dd class="ng-binding">
					            		Situação: <select ng-model="situationAux"
									        ng-change="selectSituationAction(taskCtrl.actionViewSelected.id, situationAux)"
					            			ng-options="s as s.desc for (k, s) in situationsEnum"></select> 
					            			<span ng-show="taskCtrl.nodeSelected.action.required"> (Ação Obrigatória)</span><br/>
					            		Ação Especial: <select ng-model="specialSituationAux"
									        ng-change="selectSpecialSituationAction(taskCtrl.actionViewSelected.id, specialSituationAux)"
					            			ng-options="s as s.desc for (k, s) in specialActionsEnum"></select><br/>
					            		Id: <b>{{ taskCtrl.actionViewSelected.action.identifier }}</b>;<br/>
					            		Ação: <b>{{ taskCtrl.actionViewSelected.action.action }}</b>;<br/>
					            		Tag: <b>{{ taskCtrl.actionViewSelected.action.infoTag }}</b>;<br/>
			            				Name: <b>{{ taskCtrl.actionViewSelected.action.infoName }}</b>;<br/>
			            				Conteúdo: <b>{{ taskCtrl.actionViewSelected.action.infoContent }}</b>;<br/>
			            				Posição [X,Y]: <b>[{{ taskCtrl.actionViewSelected.action.infoPosX }},{{ taskCtrl.actionViewSelected.action.infoPosY }}]</b>;<br/>
			            				Elemento (XPath): <b>{{ taskCtrl.actionViewSelected.action.element }}</b>;<br/>
			            				Local: <b>{{ taskCtrl.actionViewSelected.action.local }}</b>;<br/>
					            	</dd>
					            </dl>
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								      <th ts-criteria="id">Id</th>
								      <th ts-criteria="id">Ok</th>
								      <th ts-criteria="id">Err</th>
								      <th ts-criteria="time |parseInt" ts-default="ascending">Hora</th>
								      <th ts-criteria="action">Acao</th>
								      <th ts-criteria="element|lowercase">Elemento</th>
								      <th ts-criteria="local|lowercase">Local</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-click="setActionViewSelected(action,true)" ng-class="{ 'action-required': action.required == true }" class="action-situation-{{idSituationAction(action.identifier)}}" ng-repeat="action in sessionSelected.actions" ts-repeat>
								      <td color-action color-action-elem="action" color-ctrl="taskCtrl" title="Count = {{taskCtrl.result.pageViewActionCount[action.identifier]}}">{{action.identifier}}</td>
								      <td class="text-center" ng-click="setSituationAction(action.identifier, situationsEnum.OK)">
								      	<i ng-show="isSituationAction(action.identifier, situationsEnum.OK)" class="icon-ok-sign"></i>
								      	<i ng-hide="isSituationAction(action.identifier, situationsEnum.OK)" class="icon-ok-circle"></i>
								      </td>
								      <td class="text-center" ng-click="setSituationAction(action.identifier, situationsEnum.ERROR)">
								      	<i ng-show="isSituationAction(action.identifier, situationsEnum.ERROR)" class="icon-remove-sign"></i>
								      	<i ng-hide="isSituationAction(action.identifier, situationsEnum.ERROR)" class="icon-remove-circle"></i>
								      </td>
								      <td>{{action.time | date:"dd/MM/yyyy ' ' HH:mm:ss"}}</td>
								      <td>{{action.action}}</td>
								      <td title="{{action.element}}">{{action.element | cut:true:15:'&hellip;'}}</td>
								      <td title="{{action.local}}">{{action.local | cut:true:15:'&hellip;'}}</td>
								    </tr>
								  </tbody>
								</table>
								<div class="table-labels">
									<span class="title">{{ 'label' | translate }}:</span>
									<span ng-repeat="label in situationsEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
									<span class="label label-info">{{ 'required' | translate }}</span>
								</div>
		        			</div>
		        		</div>
		        		<div class="usdm-box" ng-show="step == '2'">
		        			<ul class="breadcrumb">
							  <li><a ng-click="goToGuideStep('1')">Visualizar Sessões</a> <span class="divider">/</span></li>
							  <li><a ng-click="goToGuideStep('1.1', sessionSelected)">Visualizar Ações</a> <span class="divider">/</span></li>
							  <li class="active">Ações Mais Realizadas</li>
							</ul>
		        			<h2 class="usdm-box-header">
		        				2 - Ações Mais Realizadas:
		        				<a class="btn litle-margin-x btn-primary pull-right" ng-click="goToGuideStep('3')">{{ 'nextStep' | translate }}</a>
		        				<a class="btn litle-margin-x pull-right" ng-click="goToGuideStep('1.1', sessionSelected)">{{ 'backStep' | translate }}</a>
		        			</h2>
		        			<div class="usdm-box-body">
								<dl class="dl-with-margin-bottom" ng-show="actionViewSelected != null">
					            	<dt class="ng-binding">Informações da Ação:</dt>
					            	<dd class="ng-binding">
					            		Id: <b>{{ actionViewSelected.identifier }}</b>;<br/>
					            		Ação: <b>{{ actionViewSelected.action }}</b>;<br/>
					            		Tag: <b>{{ actionViewSelected.infoTag }}</b>;<br/>
			            				Name: <b>{{ actionViewSelected.infoName }}</b>;<br/>
			            				Conteúdo: <b>{{ actionViewSelected.infoContent }}</b>;<br/>
			            				Posição [X,Y]: <b>[{{ actionViewSelected.infoPosX }},{{ actionViewSelected.infoPosY }}]</b>;<br/>
			            				Elemento (XPath): <b>{{ actionViewSelected.element }}</b>;<br/>
			            				Local: <b>{{ actionViewSelected.local }}</b>;<br/>
					            	</dd>
					            </dl>
					            <div class="usdm-withscroll-x">
									<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
									  <thead>
									    <tr>
									      <th ts-criteria="identifier">Id</th>
									      <th ts-criteria="count|parseInt" ts-default="descending">Count</th>
									      <th ts-criteria="id">Ok</th>
									      <th ts-criteria="id">Err</th>
									      <th ts-criteria="value|lowercase">{{ 'datamining.tasks.actions.description' | translate }}</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr ng-click="setActionViewGuideSelected(action.$key)" ng-class="{ 'action-required': action.required == true }" class="action-situation-{{idSituationAction(action.$key)}}" ng-repeat="action in taskCtrl.actionsArr" ts-repeat>
									      <td color-action color-action-elem="action" color-ctrl="taskCtrl" title="Count = {{taskCtrl.result.pageViewActionCount[action.$key]}}">{{action.$key}}</td>
									      <td>{{ action.count }}</td>
									      <td class="text-center" ng-click="setSituationAction(action.$key, situationsEnum.OK)">
									      	<i ng-show="isSituationAction(action.$key, situationsEnum.OK)" class="icon-ok-sign"></i>
									      	<i ng-hide="isSituationAction(action.$key, situationsEnum.OK)" class="icon-ok-circle"></i>
									      </td>
									      <td class="text-center" ng-click="setSituationAction(action.$key, situationsEnum.ERROR)">
									      	<i ng-show="isSituationAction(action.$key, situationsEnum.ERROR)" class="icon-remove-sign"></i>
									      	<i ng-hide="isSituationAction(action.$key, situationsEnum.ERROR)" class="icon-remove-circle"></i>
									      </td>
									      <td>{{ action.value }}</td>
									    </tr>
									  </tbody>
									</table>
								</div>
								<div class="table-labels">
									<span class="title">{{ 'label' | translate }}:</span>
									<span ng-repeat="label in situationsEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
									<span class="label label-info">{{ 'required' | translate }}</span>
								</div>
		        			</div>
		        		</div>
		        		<div class="usdm-box" ng-show="step == '3'">
	        				<ul class="breadcrumb">
							  <li><a ng-click="goToGuideStep('1')">Visualizar Sessões</a> <span class="divider">/</span></li>
							  <li><a ng-click="goToGuideStep('1.1', sessionSelected)">Visualizar Ações</a> <span class="divider">/</span></li>
							  <li><a ng-click="goToGuideStep('2')">Ações Mais Realizadas</a> <span class="divider">/</span></li>
							  <li class="active">Visualizar Grafo</li>
							</ul>
		        			<h2 class="usdm-box-header">
		        				3 - Visualizar Grafo:
		        				<a class="btn litle-margin-x btn-primary pull-right" ng-click="goToGuideStep('4')">{{ 'nextStep' | translate }}</a>
		        				<a class="btn litle-margin-x pull-right" ng-click="goToGuideStep('2')">{{ 'backStep' | translate }}</a>
		        			</h2>
		        			<div class="usdm-box-body">
		        				<a class="btn btn-primary btn-large-middle" ng-click="showContentGraph()">Abrir Grafo</a>
		        			</div>
		        		</div>
		        		
		        		
	        		</div>
	        	
	        	
	        	
	        		<!-- ANALISE AVANCADA -->
	        		<div class="usdm-box" ng-show="isShowContentAdvanced()">
		            	<h2 class="usdm-box-header">
		            		<a ng-show="taskCtrl.previousMode" class="btn" ng-click="backMode()" style="margin-bottom: 4px;"><i class="icon-chevron-left"></i></a>
				    		{{ taskCtrl.mode.title }} 
				    		<select ng-model="taskCtrl.mode" ng-options="m as m.desc for m in taskCtrl.modesArr | filter:{ notAnOption : false }" class="pull-right"></select>
			            </h2>
			            <div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'users'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      <th ts-criteria="actionsAverageOk|parseFloat">{{ 'datamining.tasks.evaluate.actions' | translate }}</th>
							      <th ts-criteria="timesAverageOk|parseFloat">{{ 'datamining.tasks.evaluate.time' | translate }}</th>
							      <th ts-criteria="rateSuccess|parseFloat">{{ 'datamining.tasks.evaluate.rateSuccess' | translate }}</th>
							      <th ts-criteria="rateSuccess|parseFloat">{{ 'datamining.tasks.evaluate.rateRequired' | translate }}</th>
							      <th ts-criteria="countSessionsSuccess+countSessionsRepeat+countSessionsThreshold|parseInt">{{ 'datamining.tasks.evaluate.sessions.total' | translate }}</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-repeat="user in taskCtrl.result.users" ts-repeat>
							      <td><a ng-click="showUserSessions(user)">{{user.username}}</a></td>
							      
							      <td>{{user.actionsAverageOk | number:2}}</td>
							      <td>{{user.timesAverageOk | msConverter}}</td>
							      <td>{{user.rateSuccess | number:2}} %</td>
							      <td>{{user.userRateRequired | number:2}} %</td>
							      <td title="{{ 'datamining.tasks.evaluate.complete' | translate }} = {{user.countSessionsSuccess}} | {{ 'datamining.tasks.evaluate.restart' | translate }} = {{user.countSessionsRepeat}} | {{ 'datamining.tasks.evaluate.threshold' | translate }} = {{user.countSessionsThreshold}}">
							      	{{user.countSessionsSuccess + user.countSessionsRepeat + user.countSessionsThreshold}}
							      </td>
							    </tr>
							  </tbody>
							</table>
						</div>
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'userSessions'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      <th ts-criteria="actions|parseInt">Acoes</th>
							      <th ts-criteria="time|parseInt">Tempo</th>
							      <th ts-criteria="userRateSuccess|parseFloat">Completude</th>
							      <th ts-criteria="userRateRequired*100|parseFloat">Corretude</th>
							      <th ts-criteria="classification|lowercase">Class</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr class="session-{{session.classification}}" ng-repeat="session in taskCtrl.userSessions" ts-repeat>
							      <td><a ng-click="showActionsSession(session)">{{session.id}}</a></td>
							      <td>{{session.actions.length | number:2}}</td>
							      <td>{{session.time | msConverter}}</td>
							      <td>{{session.userRateSuccess | number:2}} %</td>
							      <td>{{session.userRateRequired | number:2}} %</td>
							      <td>{{getClassificationFromEnum(session.classification).desc}}</td>
							    </tr>
							  </tbody>
							</table>
							<div class="table-labels">
								<span class="title">{{ 'label' | translate }}:</span>
								<span ng-repeat="label in classificationEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
							</div>
			            </div>
			            
			            <div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'sessions'">
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
							      <th ts-criteria="actions|parseInt">Acoes</th>
							      <th ts-criteria="time|parseInt">Tempo</th>
							      <th ts-criteria="userRateSuccess|parseFloat">Completude</th>
							      <th ts-criteria="userRateRequired*100|parseFloat">Corretude</th>
							      <th ts-criteria="classification|lowercase">Class</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr class="session-{{session.classification}}" ng-repeat="session in taskCtrl.result.sessions" ts-repeat>
							      <td><a ng-click="showActionsSession(session)">{{session.id}}</a></td>
							      <td>{{session.actions.length | number:2}}</td>
							      <td>{{session.time | msConverter}}</td>
							      <td>{{session.userRateSuccess | number:2}} %</td>
							      <td>{{session.userRateRequired | number:2}} %</td>
							      <td>{{getClassificationFromEnum(session.classification).desc}}</td>
							    </tr>
							  </tbody>
							</table>
							<div class="table-labels">
								<span class="title">{{ 'label' | translate }}:</span>
								<span ng-repeat="label in classificationEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
							</div>
						</div>
						
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actions'">
							<dl class="dl-with-margin-bottom">
								<dt class="ng-binding">Informações da Sessão:</dt>
				            	<dd class="ng-binding">
									Id: <b>{{ taskCtrl.userSession.id }}</b>;<br/>
									Classificação: <b>{{ getClassificationFromEnum(taskCtrl.userSession.classification).desc }}</b>;<br/>
									Usuário: <b>{{ taskCtrl.userSession.username }}</b>;<br/>
									Completude: <b>{{ taskCtrl.userSession.userRateSuccess | number:2}} %</b>;<br/>
									Corretude: <b>{{ taskCtrl.userSession.userRateRequired | number:2}} %</b>;<br/>
				            	</dd>
				            </dl>
							<dl class="dl-with-margin-bottom" ng-show="actionViewSelected != null">
				            	<dt class="ng-binding">Informações da Ação:</dt>
				            	<dd class="ng-binding">
				            		Id: <b>{{ actionViewSelected.identifier }}</b>;<br/>
				            		Ação: <b>{{ actionViewSelected.action }}</b>;<br/>
				            		Tag: <b>{{ actionViewSelected.infoTag }}</b>;<br/>
		            				Name: <b>{{ actionViewSelected.infoName }}</b>;<br/>
		            				Conteúdo: <b>{{ actionViewSelected.infoContent }}</b>;<br/>
		            				Posição [X,Y]: <b>[{{ actionViewSelected.infoPosX }},{{ actionViewSelected.infoPosY }}]</b>;<br/>
		            				Elemento (XPath): <b>{{ actionViewSelected.element }}</b>;<br/>
		            				Local: <b>{{ actionViewSelected.local }}</b>;<br/>
				            	</dd>
				            </dl>
				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
							  <thead>
							    <tr>
							      <th ts-criteria="id">Id</th>
							      <th ts-criteria="id">Ok</th>
							      <th ts-criteria="id">Err</th>
							      <th ts-criteria="time |parseInt" ts-default="ascending">Hora</th>
							      <th ts-criteria="action">Acao</th>
							      <th ts-criteria="element|lowercase">Elemento</th>
							      <th ts-criteria="local|lowercase">Local</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr ng-click="setActionViewSelected(action)" ng-class="{ 'action-required': action.required == true }" class="action-situation-{{idSituationAction(action.identifier)}}" ng-repeat="action in taskCtrl.userSession.actions" ts-repeat>
							      <td color-action color-action-elem="action" color-ctrl="taskCtrl" title="Count = {{taskCtrl.result.pageViewActionCount[action.identifier]}}">{{action.identifier}}</td>
							      <td class="text-center" ng-click="setSituationAction(action.identifier, situationsEnum.OK)">
							      	<i ng-show="isSituationAction(action.identifier, situationsEnum.OK)" class="icon-ok-sign"></i>
							      	<i ng-hide="isSituationAction(action.identifier, situationsEnum.OK)" class="icon-ok-circle"></i>
							      </td>
							      <td class="text-center" ng-click="setSituationAction(action.identifier, situationsEnum.ERROR)">
							      	<i ng-show="isSituationAction(action.identifier, situationsEnum.ERROR)" class="icon-remove-sign"></i>
							      	<i ng-hide="isSituationAction(action.identifier, situationsEnum.ERROR)" class="icon-remove-circle"></i>
							      </td>
							      <td>{{action.time | date:"dd/MM/yyyy ' ' HH:mm:ss"}}</td>
							      <td>{{action.action}}</td>
							      <td title="{{action.element}}">{{action.element | cut:true:15:'&hellip;'}}</td>
							      <td title="{{action.local}}">{{action.local | cut:true:15:'&hellip;'}}</td>
							    </tr>
							  </tbody>
							</table>
							<div class="table-labels">
								<span class="title">{{ 'label' | translate }}:</span>
								<span ng-repeat="label in situationsEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
								<span class="label label-info">{{ 'required' | translate }}</span>
							</div>
						</div>
						
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actionsCount'">
							<dl class="dl-with-margin-bottom" ng-show="actionViewSelectedMost != null">
				            	<dt class="ng-binding">Informações da Ação:</dt>
				            	<dd class="ng-binding">
				            		Id: <b>{{ actionViewSelectedMost.identifier }}</b>;<br/>
				            		Ação: <b>{{ actionViewSelectedMost.action }}</b>;<br/>
				            		Tag: <b>{{ actionViewSelectedMost.infoTag }}</b>;<br/>
		            				Name: <b>{{ actionViewSelectedMost.infoName }}</b>;<br/>
		            				Conteúdo: <b>{{ actionViewSelectedMost.infoContent }}</b>;<br/>
		            				Posição [X,Y]: <b>[{{ actionViewSelectedMost.infoPosX }},{{ actionViewSelectedMost.infoPosY }}]</b>;<br/>
		            				Elemento (XPath): <b>{{ actionViewSelectedMost.element }}</b>;<br/>
		            				Local: <b>{{ actionViewSelectedMost.local }}</b>;<br/>
				            	</dd>
				            </dl>
				            <div class="usdm-withscroll">
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								      <th ts-criteria="$key|lowercase">Id</th>
								      <th ts-criteria="$key|lowercase">Ok</th>
								      <th ts-criteria="$key|lowercase">Err</th>
								      <th ts-criteria="count|parseInt" ts-default="descending">Count</th>
								      <th ts-criteria="value|lowercase">{{ 'datamining.tasks.actions.description' | translate }}</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-click="setActionViewSelectedMostRealized(action.$key)" ng-class="{ 'action-required': getActionInfoFromId(action.$key).required == true }" class="action-situation-{{idSituationAction(action.$key)}}" ng-repeat="action in taskCtrl.actionsArr" ts-repeat>
								      <td color-action color-action-elem="action" color-ctrl="taskCtrl">{{ action.$key }}</td>
								      <td class="text-center" ng-click="setSituationAction(action.$key, situationsEnum.OK)">
								      	<i ng-show="isSituationAction(action.$key, situationsEnum.OK)" class="icon-ok-sign"></i>
								      	<i ng-hide="isSituationAction(action.$key, situationsEnum.OK)" class="icon-ok-circle"></i>
								      </td>
								      <td class="text-center" ng-click="setSituationAction(action.$key, situationsEnum.ERROR)">
								      	<i ng-show="isSituationAction(action.$key, situationsEnum.ERROR)" class="icon-remove-sign"></i>
								      	<i ng-hide="isSituationAction(action.$key, situationsEnum.ERROR)" class="icon-remove-circle"></i>
								      </td>
								      <td>{{ action.count }}</td>
								      <td>{{ action.value }}</td>
								    </tr>
								  </tbody>
								</table>
							</div>
							<div class="table-labels">
								<span class="title">{{ 'label' | translate }}:</span>
								<span ng-repeat="label in situationsEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
								<span class="label label-info">{{ 'required' | translate }}</span>
							</div>
						</div>
						
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'actionsRequiredCount'">
							<dl class="dl-with-margin-bottom" ng-show="actionViewSelectedMost != null">
				            	<dt class="ng-binding">Informações da Ação:</dt>
				            	<dd class="ng-binding">
				            		Id: <b>{{ actionViewSelectedMost.identifier }}</b>;<br/>
				            		Ação: <b>{{ actionViewSelectedMost.action }}</b>;<br/>
				            		Tag: <b>{{ actionViewSelectedMost.infoTag }}</b>;<br/>
		            				Name: <b>{{ actionViewSelectedMost.infoName }}</b>;<br/>
		            				Conteúdo: <b>{{ actionViewSelectedMost.infoContent }}</b>;<br/>
		            				Posição [X,Y]: <b>[{{ actionViewSelectedMost.infoPosX }},{{ actionViewSelectedMost.infoPosY }}]</b>;<br/>
		            				Elemento (XPath): <b>{{ actionViewSelectedMost.element }}</b>;<br/>
		            				Local: <b>{{ actionViewSelectedMost.local }}</b>;<br/>
				            	</dd>
				            </dl>
				            <div class="usdm-withscroll">
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								    	<th ts-criteria="value|lowercase" ts-default="descending">Id</th>
								    	<th ts-criteria="id|lowercase">Ok</th>
									    <th ts-criteria="id|lowercase">Err</th>
								      	<th ts-criteria="$key|lowercase">{{ 'datamining.tasks.actions.description' | translate }}</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-click="setActionViewSelectedMostRealized(action.id)" class="action-situation-{{idSituationAction(action.id)}}" ng-repeat="action in taskCtrl.actionsRequiredArr" ts-repeat>
								       	<td color-action color-action-elem="action" color-ctrl="taskCtrl">{{ action.id }}</td>
								      	<td class="text-center" ng-click="setSituationAction(action.id, situationsEnum.OK)">
								      		<i ng-show="isSituationAction(action.id, situationsEnum.OK)" class="icon-ok-sign"></i>
								      		<i ng-hide="isSituationAction(action.id, situationsEnum.OK)" class="icon-ok-circle"></i>
								      	</td>
								      	<td class="text-center" ng-click="setSituationAction(action.id, situationsEnum.ERROR)">
								      		<i ng-show="isSituationAction(action.id, situationsEnum.ERROR)" class="icon-remove-sign"></i>
								      		<i ng-hide="isSituationAction(action.id, situationsEnum.ERROR)" class="icon-remove-circle"></i>
								      	</td>
								      	<td>{{ action.$key }}</td>
								    </tr>
								  </tbody>
								</table>
							</div>
							<div class="table-labels">
								<span class="title">{{ 'label' | translate }}:</span>
								<span ng-repeat="label in situationsEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
							</div>
						</div>
						
						<!-- FREQUENT PATTERN MINING -->
						<div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'frequentPatterns'">
							<div class="usdm-withscroll">
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								      <th>{{ 'pattern' | translate }}</th>
								      <th ts-criteria="supportSize|parseInt" ts-default="descending">{{ 'datamining.pattern.support' | translate }}</th>
								      <th ts-criteria="itemsetsSize|parseInt" ts-default="descending">{{ 'datamining.pattern.itemsetsize' | translate }}</th>
								      <th ts-criteria="itemsetsFormattedText">{{ 'datamining.pattern' | translate }}</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="pattern in taskCtrl.frequentPatterns" ts-repeat>
								      <td><a ng-click="showFrequentPattern(pattern)">{{ 'pattern' | translate }} {{pattern.key}}</a></td>
								      <td>{{pattern.supportSize}}</td>
								      <td>{{pattern.itemsetsSize}}</td>
								      <td>{{pattern.itemsetsFormattedText}}</td>
								    </tr>
								  </tbody>
								</table>
							</div>
			            </div>
			            <div class="usdm-box-body" ng-show="taskCtrl.mode.name == 'pattern'">
			            	<div class="usdm-box-body">
					            <dl>
					            	<dt class="ng-binding">{{ 'datamining.pattern.metrics' | translate }}:</dt>
					            	<dd class="ng-binding">
					            		{{ 'datamining.pattern' | translate }}: <b>{{ taskCtrl.frequentPatternActive.itemsetsFormattedText }}</b>.<br/>
			            				{{ 'datamining.pattern.support.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.supportSize}}</b>.<br/>
			            				{{ 'datamining.pattern.effectiveness.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.effectivenessMean | number:2}}</b>.<br/>
			            				{{ 'datamining.pattern.efficiency.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.efficiencyMean | number:2}}</b>.<br/>
			            				{{ 'datamining.pattern.rateSuccess.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.successMean | number:2}}</b>.<br/>
			            				{{ 'datamining.pattern.rateRequired.desc' | translate }}: <b>{{taskCtrl.frequentPatternActive.requiredMean | number:2}}</b>.
					            	</dd>
					            </dl>
		            		</div>
		            		<br/>
		            		<h3>{{ 'datamining.pattern.actions' | translate }}</h3>
		            		<div class="usdm-withscroll">
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								      <th ts-criteria="id|parseInt">{{ 'id' | translate }}</th>
								      <th ts-criteria="count|parseInt">{{ 'count' | translate }}</th>
								      <th ts-criteria="desc">{{ 'datamining.tasks.actions.description' | translate }}</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="action in taskCtrl.frequentPatternActive.itemsetsFormatted" ts-repeat>
								      <td>{{action.idAction}}</td>
								      <td>{{action.count}}</td>
								      <td>{{action.desc}}</td>
								    </tr>
								  </tbody>
								</table>
							</div>
							<br/>
		            		<h3>{{ 'datamining.pattern.sessions' | translate }}</h3>
		            		<div class="usdm-withscroll">
					            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" ts-wrapper>
								  <thead>
								    <tr>
								      <th ts-criteria="username|lowercase">{{ 'datamining.tasks.evaluate.user' | translate }}</th>
								      <th ts-criteria="actions|parseInt">Acoes</th>
								      <th ts-criteria="time|parseInt">Tempo</th>
								      <th ts-criteria="userRateSuccess|parseFloat">Completude</th>
								      <th ts-criteria="userRateRequired*100|parseFloat">Corretude</th>
								      <th ts-criteria="classification|lowercase">Class</th>
								      <th ts-criteria="fuzzyPriority|parseFloat" ts-default="descending">Fuzzy</th>
								      <th ts-criteria="fuzzyPriorityEfcEft|parseFloat">F2</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr class="session-{{session.classification}}" ng-repeat="session in taskCtrl.frequentPatternActive.sessionsFormatted" ts-repeat>
								      <td><a ng-click="showActionsSession(session)">{{session.id}}</a></td>
								      <td>{{session.actions.length | number:2}}</td>
								      <td>{{session.time | msConverter}}</td>
								      <td>{{session.userRateSuccess | number:2}} %</td>
								      <td>{{session.userRateRequired | number:2}} %</td>
								      <td>{{getClassificationFromEnum(session.classification).desc}}</td>
								      <td>{{session.fuzzyPriority | number:3}}</td>
								      <td title="Efici.={{session.efficiency | number:2}}[{{session.efficiencyNormalized | number:2}}], Efica.={{session.effectiveness | number:2}}[{{session.effectivenessNormalized | number:2}}]">{{session.fuzzyPriorityEfcEft | number:3}}</td>
								    </tr>
								  </tbody>
								</table>
								<div class="table-labels">
									<span class="title">{{ 'label' | translate }}:</span>
									<span ng-repeat="label in classificationEnum" ng-if="label.desc" class="label {{label.classLabel}}">{{label.desc}}</span>
								</div>
							</div>
			            </div>
						
						
						<hr/>
					</div>
	        		
	        	</div>
	        	
	        	
	        	
	        	
			    	
		    	</div>
	        </div>
	    </div>	    
    </div>