<div class="row">
    <div class="span12">
    	<div class="usdm-box usdm-error-page">
    		<h2 class="usdm-box-header">
	    		Oops!! Página não encontrada. =/
            </h2>
            <div class="usdm-box-body">
            	<img class="usdm-error-page-img" src="{{urlapp}}/img/error.jpg" />
            	
            	<a class="usdm-error-page-link" href="#" onclick="window.history.go(-1); return false;">
		  			Voltar para página anterior
		  		</a>
		  		
            </div>
        </div>
    </div>
</div>

