<option value="id">ID</option>
<option value="time">Time</option>
<option value="username">UserName</option>
<option value="role">Role</option>
<option value="version">Version</option>

<% if(fullOptions){ %>
<option value="jhm">JHM Name</option>
<option value="tag">Tag</option>
<option value="type">Type</option>
<% } %>