<option value="time">Time</option>
<option value="username">UserName</option>
<option value="role">Role</option>
<option value="version">Version</option>

<% if(fullOptions){ %>
<option value="jhm">JHM</option>
<option value="tag">Tag</option>
<option value="role">Role</option>
<option value="version">Version</option>
<% } %>