<body> 
	<div class="container-padding-left">
		
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li ng-show="testCtrl.test.id">
				<a ng-href="#/testes/{{testCtrl.test.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ testCtrl.actionTitle }}</li>
		</ul>
		
		
		<usdm-messages-alert></usdm-messages-alert>
		
	    
	    <div class="span10 center">
		
			<form name="myForm" class="datamining-form form-layout">
				<fieldset>
					<legend>
						<span>{{ testCtrl.actionTitle }}</span>
						<hr/>
					</legend>
					
					<input type="hidden" name="test.id" ng-model="testCtrl.test.id" />
					
					<div class="control-group">
		            	<label class="control-label" for="testTitle">{{ 'datamining.testes.title' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="text" ng-model="testCtrl.test.title" name="test.title"  id="testTitle" class="input" /> 
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="testClientAbbreviation">{{ 'datamining.testes.abbrev' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="text" ng-model="testCtrl.test.clientAbbreviation" name="test.clientAbbreviation"  id="testClientAbbreviation" class="input" /> 
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="testUrlSystem">{{ 'datamining.testes.url' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="text" ng-model="testCtrl.test.urlSystem" name="test.urlSystem"  id="testUrlSystem" class="input" /> 
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="testIgnoreURL">{{ 'datamining.testes.control.ignoreurl' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="checkbox" ng-model="testCtrl.test.isIgnoreURL" name="test.isIgnoreURL"  id="testIgnoreURL" class="input" /> 
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="testsControl">{{ 'datamining.testes.control.select' | translate}}:*</label>
		            	<div class="controls">
		                	<select ng-model="testCtrl.testControl" id="testsControl" ng-options="key as value for (key , value) in testCtrl.testsControl" class="input">
		                		<option value="">{{ 'datamining.testes.control.select.none' | translate }}</option>
		                	</select>
		            	</div>
		        	</div>
		
					<hr/>
					
		        	<div class="form-actions">
		            	<button ng-click="testCtrl.save()"  class="btn btn-primary pull-right submit">{{ testCtrl.actionTitle }}</button>
		            	<a href="#/" onclick="window.history.go(-1); return false;" class="btn pull-right">{{ 'datamining.back' | translate}}</a>
		        	</div>
		        	
				</fieldset>
			</form>
		</div>
	     
	
    </div>
</body>
