<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.testes.details' | translate}}</li>
		</ul>
		<div ng-show="success" class="alert alert-success">
			{{ success }}<br />
		</div>
		<div ng-show="errors" class="alert alert-error">
			<span ng-repeat="error in errors">
				{{ error }}<br />
			</span>
		</div>
	    
		<div class="row show-grid">
		    <div class="span4">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.testes.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.testes.title' | translate}}:</dt>
			            	<dd>
			            		{{testCtrl.test.title}}
			            		<a class="btn pull-right" ng-href="#/testes/editar/{{testCtrl.test.id}}" title="{{ 'datamining.edit' | translate}}"><span class="icon-edit"></span> {{ 'datamining.edit' | translate }}</a>
			            		<div class="clear-both"></div>
			            	</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.abbrev' | translate}}:</dt>
			            	<dd>{{testCtrl.test.clientAbbreviation}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.url' | translate}}:</dt>
			            	<dd>{{testCtrl.test.urlSystem}}</dd>
			            </dl>
			            
			            <dl>
			            	<dt>{{ 'datamining.priority' | translate}}:</dt>
			            	<dd>
			            		<a class="btn btn-primary pull-right" ng-click="testCtrl.priority()" title="{{ 'datamining.priority' | translate}}"><span class="icon-white icon-tasks"></span> {{ 'datamining.priority' | translate}}</a>
			            		<div class="clear-both"></div>
							</dd>
			            </dl>
			            
		            </div>
		    	</div>
		    </div>
	        <div class="span8">
	            <h2>
	            	{{ 'datamining.testes.analyzes' | translate}}
	            </h2>
	            <a class="usdm-clickable-box" ng-href="#/testes/{{testCtrl.test.id}}/tarefas">
	            	<h2>{{ 'datamining.testes.tasks' | translate}}</h2>
	            </a>
	            <a class="usdm-clickable-box" ng-href="#/testes/{{testCtrl.test.id}}/maisacessadas">
	            	<h2>{{ 'datamining.testes.featuresmostaccessed' | translate}}</h2>
	            </a>
	            <a class="usdm-clickable-box">
	            	<h2>{{ 'datamining.testes.specificsession' | translate}}</h2>
	            </a>
	        </div>
	    </div>	    

    </div>