<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}</li>
		</ul>
	    
	    <div ng-show="success" class="alert alert-success">
			{{ success }}<br />
		</div>
		<div ng-show="errors" class="alert alert-error">
			<span ng-repeat="error in errors">
				{{ error }}<br />
			</span>
		</div>
	    
	    <div class="row show-grid">
	        <div class="span12">
	            <h2>
	            	{{ 'datamining.testes.list' | translate}}
		            <a class="btn btn-primary pull-right" ng-href="#/testes/criar">{{ 'datamining.testes.new' | translate}}</a>
	            </h2>
	            
	        </div>
	        <div class="span12">
	            <table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white">
	                <thead>
	                    <tr>
	                        <th width="55%">{{ 'datamining.testes.title' | translate}}</th>
	                        <th width="30%">{{ 'datamining.testes.abbrev' | translate}}</th>
	                        <th width="15%">{{ 'datamining.details' | translate}}</th>
	                    </tr>
	                </thead>
	                <tbody>
                        <tr ng-repeat="test in testCtrl.tests | orderBy:'id'">
                            <td class="td-link"><a ng-href="#/testes/{{test.id}}">{{test.title}}</a></td>
                            <td>{{test.clientAbbreviation}}</td>
                            <td class="text-center"><a class="btn btn-primary" ng-href="#/testes/{{test.id}}"><span class="icon-white icon-folder-open"></span> {{ 'datamining.details' | translate}}</a></td>
                        </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
    </div>