<div class="container-padding-left">
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{testCtrl.test.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{testCtrl.test.id}}/tarefas"> 
					{{ 'datamining.testes.evaluation' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.testes.tasks' | translate}}</li>
		</ul>
		
		<usdm-messages-alert></usdm-messages-alert>
	    
		<div class="row show-grid">
		    <div class="span4">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.testes.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.testes.title' | translate}}:</dt>
			            	<dd>
			            		{{testCtrl.test.title}}
			            		<a class="btn pull-right" ng-href="#/testes/editar/{{testCtrl.test.id}}" title="{{ 'datamining.edit' | translate}}"><span class="icon-edit"></span> {{ 'datamining.edit' | translate }}</a>
			            		<div class="clear-both"></div>
			            	</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.abbrev' | translate}}:</dt>
			            	<dd>{{testCtrl.test.clientAbbreviation}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.url' | translate}}:</dt>
			            	<dd>{{ testCtrl.test.urlSystem}}</dd>
			            </dl>
			            
		            </div>
		    	</div>
		    </div>
	        <div class="span8">
	            <h2>
	            	{{ 'datamining.testes.evaluations.task' | translate}}
	            	<a class="btn btn-primary pull-right" ng-href="#/testes/{{testCtrl.test.id}}/tarefas/criar">
	            		{{ 'datamining.tasks.new' | translate}}
	            	</a>
	            	<a class="btn btn-primary pull-right u-margin-right-btn" ng-href="#/informacoes" target="blank">
	            		<i class="icon-question-sign icon-white"></i>
	            		{{ 'datamining.questions' | translate}}
	            	</a>
	            </h2>
	            <h4 class="usdm-mintitle">
	            	({{ 'between' | translate }} <u>{{ testCtrl.formatDate(testCtrl.evalTest.initDate) }}</u> {{ 'and' | translate }}  <u>{{ testCtrl.formatDate(testCtrl.evalTest.lastDate) }}</u>)
	            </h4>
	            
	            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dinamic-table" style="background-color: white" ts-wrapper>
	                <thead>
	                    <tr>
	                        <th ts-criteria="title|lowercase" ts-default="ascending">{{ 'datamining.tasks.title' | translate }}</th>
					      	<th ts-criteria="actualEvaluation.evalCountSessions|parseFloat">Sess.</th>
					      	<th ts-criteria="actualEvaluation.evalEffectiveness|parseFloat">Eficá.</th>
					      	<th ts-criteria="actualEvaluation.evalEfficiency|parseFloat">Efici.</th>
					      	<th>{{ 'datamining.options' | translate }}</th>
	                    </tr>
	                </thead>
	                <tbody>
                        <tr ng-repeat="task in testCtrl.test.tasks | orderBy:'title'" ts-repeat ng-model="task.popovercontent" popup-title="task.title" popup="testCtrl.popup.options">
                            <td class="td-link"><a ng-href="#/testes/{{testCtrl.test.id}}/tarefas/{{task.id}}">{{task.title}}</a></td>
                            <td>{{ task.actualEvaluation.evalCountSessions }}</td>
                            <td>{{ task.actualEvaluation.evalEffectiveness | number:2}}</td>
                            <td>{{ task.actualEvaluation.evalEfficiency | number:2}}</td>
                            <td>
                            	<a class="btn btn-primary pull-right" ng-click="setLongLoaderTime(task.actualEvaluation.meanTimeLoading)" ng-href="#/testes/{{testCtrl.test.id}}/avaliacao/{{testCtrl.evalTest.id}}/tarefas/{{task.id}}/avaliar" title="{{ 'datamining.evaluate' | translate}}">{{ 'datamining.evaluate' | translate }}</a>
							</td>
                        </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>	    

    </div>