<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/usabilidade</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">cl142536</property>
    <mapping class="br.ufpi.models.Acao"/>
    <mapping class="br.ufpi.models.Alternativa"/>
    <mapping class="br.ufpi.models.Fluxo"/>
    <mapping class="br.ufpi.models.FluxoIdeal"/>
    <mapping class="br.ufpi.models.FluxoUsuario"/>
    <mapping class="br.ufpi.models.Impressao"/>
    <mapping class="br.ufpi.models.Pergunta"/>
    <mapping class="br.ufpi.models.Questionario"/>
    <mapping class="br.ufpi.models.RespostaAlternativa"/>
    <mapping class="br.ufpi.models.RespostaEscrita"/>
    <mapping class="br.ufpi.models.Tarefa"/>
    <mapping class="br.ufpi.models.Teste"/>
    <mapping class="br.ufpi.models.Usuario"/>
    
  </session-factory>
  

 
</hibernate-configuration>
