<body> 
	<div class="container-padding-left">
		
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li ng-show="smellConfigCtrl.test.id">
				<a ng-href="#/testes/{{smellConfigCtrl.test.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.smells.testes.config.title' | translate }}</li>
		</ul>
		
		
		<usdm-messages-alert></usdm-messages-alert>
		
	    
	    <div class="span10 center">
		
			<form name="myForm" class="datamining-form form-layout form-horizontal">
				<fieldset>
					<legend>
						<span>{{ smellCtrl.smell.name }}</span>
						<hr/>
					</legend>
					
					<div class="control-group" ng-repeat="param in smellCtrl.parameters | orderBy:'id'">
		            	<label class="control-label" for="{{ param.id }}">{{ param.parameterSmell.description }}:</label>
		            	<div class="controls">
		            		<input type="text" ng-model="param.value" id="{{ param.id }}" class="input" />
		            	</div>
		        	</div>
		        	
		
					<hr/>
					
		        	<div class="form-actions">
		            	<button ng-click="smellCtrl.changeValueParam()" class="btn btn-primary pull-right submit">Salvar Alterações</button>
		            	<button ng-click="smellCtrl.redefineDefault()" class="btn pull-right">Redefinir Padrão</button>
<!-- 		            	<a href="#/" onclick="window.history.go(-1); return false;" class="btn pull-right">{{ 'datamining.back' | translate}}</a> -->
		        	</div>
		        	
				</fieldset>
			</form>
		</div>
	     
	
    </div>
</body>
