<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{smellCtrl.test.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.smells.testes.detection' | translate}}</li>
		</ul>
		
		<usdm-messages-alert></usdm-messages-alert>
	    
		<div class="row show-grid">
		    <div class="span4">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.testes.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.testes.title' | translate}}:</dt>
			            	<dd>
			            		{{smellCtrl.test.title}}
			            		<a class="btn pull-right" ng-href="#/testes/editar/{{smellCtrl.test.id}}" title="{{ 'datamining.edit' | translate}}"><span class="icon-edit"></span> {{ 'datamining.edit' | translate }}</a>
			            		<div class="clear-both"></div>
			            	</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.abbrev' | translate}}:</dt>
			            	<dd>{{smellCtrl.test.clientAbbreviation}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.url' | translate}}:</dt>
			            	<dd>{{smellCtrl.test.urlSystem}}</dd>
			            </dl>
			            
		            </div>
		    	</div>
		    </div>
	        <div class="span8">
	        	
	            <div class="usdm-box">
	            	<h3 class="usdm-title-collapse">
	            		{{ 'datamining.smells.testes.detection.title' | translate}}
	            	</h3>
	            	<div class="usdm-clickable-box-content usdm-animate-show-hide">
		        		<form name="myForm" class="usdm-clickable-box-form-lite form-layout">
							<fieldset>
								<table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white; padding-top: 0;">
					                <thead>
					                    <tr>
					                        <th width="60%">{{'datamining.smells.testes.detection.smellname' | translate}}</th>
					                        <th width="15%">{{'datamining.smells.testes.evaluate' | translate}}</th>
					                        <th width="25%">{{'datamining.smells.testes.detection.config' | translate}}</th>
					                    </tr>
					                </thead>
					                <tbody>
				                        <tr ng-repeat="smell in smellCtrl.smells | orderBy:'value'">
				                            <td>{{smell.name}} <a href="" class="icon-info-sign" data-toggle="tooltip" data-placement="right" title="{{ smellCtrl.smellInfo(smell.name) | translate }}"></a>
				                            <td class="text-center"><input type="checkbox" checked="checked" name="selectedSmells[]" value="{{smell.value}}" ng-click="smellCtrl.toggleSelection(smell.value)"></td>
				                            <td class="text-center"><a class="btn btn-primary" ng-href="#/testes/{{smellCtrl.test.id}}/smells/config/{{smell.value}}"><span class="icon-white icon-cog"></span> {{'datamining.smells.testes.detection.config' | translate}}</a></td>
				                        </tr>
					                </tbody>
					            </table>
					            <hr>
					            <h3>{{ 'datamining.smells.testes.detection.taskdefinition' | translate}}</h3>
					            <br>
					            <table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white; padding-top: 0;">
					                <thead>
					                    <tr>
					                        <th width="85%">{{'datamining.testes.title' | translate}}</th>
					                        <th width="15%">{{'datamining.smells.testes.evaluate' | translate}}</th>
					                    </tr>
					                </thead>
					                <tbody>
				                        <tr ng-repeat="task in smellCtrl.test.tasks | orderBy:'id'">
				                            <td>{{task.title}}</td>
				                            <td class="text-center"><input type="checkbox" checked="checked" name="selectedTasks[]" value="{{task.id}}" ng-click="smellCtrl.toggleTaskSelection(task.id)"></td>
				                        </tr>
					                </tbody>
					            </table>
					            <hr>
					            <h3>{{ 'datamining.smells.testes.timewindow' | translate}}</h3>
					            <br>
					            <div class="row-fluid">
									<div class="control-group span6">
						            	<label class="control-label" for="pickerMinSelector">{{ 'date.initial' | translate}}:*</label>
						            	<div class="controls">
						                	<input class="span12" type="datetime" placeholder="{{ 'date.initial' | translate}}" date-time ng-model="smellCtrl.minDate" id="pickerMinSelector" date-change="smellCtrl.changeMinMax" max-date="smellCtrl.maxDate" view="date" format="DD/MM/YYYY HH:mm" /> 
						            	</div>
						        	</div>
						        	
						        	<div class="control-group span6">
						            	<label class="control-label" for="pickerMaxSelector">{{ 'date.end' | translate}}:*</label>
						            	<div class="controls">
						                	<input class="span12" type="datetime" placeholder="{{ 'date.end' | translate}}" date-time ng-model="smellCtrl.maxDate" id="pickerMaxSelector" date-change="smellCtrl.changeMinMax" min-date="smellCtrl.minDate" view="date" format="DD/MM/YYYY HH:mm" /> 
						            	</div>
						        	</div>
								</div>
					        	<div class="form-actions">
					            	<button ng-click="smellCtrl.view()" class="btn btn-primary pull-right submit">{{ 'datamining.smells.testes.detection.startevaluation' | translate }}</button>
<!-- 									<a ng-click="smellCtrl.view()" ng-href="#/testes/{{smellCtrl.test.id}}/smells/detection/result" class="btn btn-primary pull-right">{{ 'datamining.smells.testes.detection.startevaluation' | translate }}</a> -->
					        	</div>
							</fieldset>
						</form>
		        	</div>
	        	</div>
	        	
	        	<div class="usdm-box" ng-show="smellCtrl.detectionResult.tasksAnalysisResult != null" ng-repeat="(smell, result) in smellCtrl.detectionResult.tasksAnalysisResult">
	            	<h3 class="usdm-title-collapse">
	            		{{smell}}
	            	</h3>
	            	<hr>
	            	<h3>{{ 'datamining.smells.testes.detection.hint' | translate }}</h3>
		            {{ smellCtrl.smellHint(smell) | translate }}
		            <br><br>
		            <h4>{{ 'datamining.smells.testes.detection.problems' | translate }}</h4>
		            <div ng-repeat="problem in smellCtrl.smellProblems(smell)">
		            	<br>
		            	- <b>{{smellCtrl.problemTitle(problem)}}</b>:{{smellCtrl.problemDescription(problem)}}
		            	<br>
		            </div>
		            <hr>
		            <h3>{{ 'datamining.smells.testes.detection.detections' | translate }}</h3>
	            	<table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white; padding-top: 0;" ng-repeat="task in result">
						<thead>
		                    <tr>
		                        <th width="100%">{{task.name}} ({{smellCtrl.formatRate(task.detectionRate)}} afetada)</th>
		                    </tr>
		                </thead>
		                <tbody>
	                        <tr ng-repeat="session in task.sessions">
	                            <td>
	                            	<a ng-click="smellCtrl.showGraphSmell(session)">{{session.description}}</a>
	                            	<ul>
	                            		<li ng-repeat="(info, value) in session.info"><b>{{ info | translate }}:</b> {{value}}</li>
	                            	</ul>
	                            	<div ng-show="smellCtrl.smellgraphid == 'graph'+session.description">
	                            		<div id="graph{{session.description}}" class="useskill-smell-graph"></div>
	                            		<p ng-show="smellCtrl.nodeSelected != null">
	                            			<b>{{ 'datamining.smells.testes.detection.place' | translate }}:</b> {{smellCtrl.nodeDesc[0]}}<br>
	                            			<b>{{ 'datamining.smells.testes.detection.element' | translate }}:</b> {{smellCtrl.nodeDesc[1]}}<br>
	                            			<b>{{ 'datamining.smells.testes.detection.actiontype' | translate }}:</b> {{smellCtrl.nodeDesc[2]}}
	                            		</p>
	                            	</div>
	                            </td>
	                        </tr>
		                </tbody>
		            </table>
	        	</div>
	        	
	        	<div class="usdm-box" ng-show="smellCtrl.detectionResult.actionsAnalysisResult != null" ng-repeat="(smell, result) in smellCtrl.detectionResult.actionsAnalysisResult">
	            	<h3 class="usdm-title-collapse">
	            		{{smell}}
	            	</h3>
	            	<hr>
		            <h3>{{ 'datamining.smells.testes.detection.hint' | translate }}</h3>
		            {{ smellCtrl.smellHint(smell) | translate }}
		            <br><br>
		            <h4>{{ 'datamining.smells.testes.detection.problems' | translate }}</h4>
		            <div ng-repeat="problem in smellCtrl.smellProblems(smell)">
		            	<br>
		            	- <b>{{smellCtrl.problemTitle(problem)}}</b>:{{smellCtrl.problemDescription(problem)}}
		            	<br>
		            </div>
		            <hr>
		            <h3>{{ 'datamining.smells.testes.detection.detections' | translate }}</h3>
	            	<table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white; padding-top: 0;">
						<thead>
		                    <tr>
		                        <th width="100%">{{ 'datamining.smells.testes.detection.detectedactions' | translate }}</th>
		                    </tr>
		                </thead>
		                <tbody>
	                        <tr ng-repeat="(action, informations) in result">
	                            <td>
<!-- 	                            	<a ng-click="smellCtrl.showActionContent()">{{session.description}}</a> -->
	                            	<ul>
	                            		<li><b>{{ 'datamining.smells.testes.detection.place' | translate }}:</b> {{smellCtrl.splitAction(action)[0]}}<br></li>
	                            		<li><b>{{ 'datamining.smells.testes.detection.element' | translate }}:</b> {{smellCtrl.splitAction(action)[1]}}<br></li>
	                            		<li><b>{{ 'datamining.smells.testes.detection.actiontype' | translate }}:</b> {{smellCtrl.splitAction(action)[2]}}<br></li>
	                            		<li ng-repeat="(info, value) in informations"><b>{{ info | translate }}:</b> {{value}}</li>
	                            	</ul>
	                            	
<!-- 	                            	<div ng-show="smellCtrl.smellgraphid == 'graph'+session.description"> -->
<!-- 	                            		<div id="graph{{session.description}}" class="useskill-smell-graph"></div> -->
<!-- 	                            		<p ng-show="smellCtrl.nodeSelected != null"> -->
<!-- 	                            			<b>{{ 'datamining.smells.testes.detection.place' | translate }}:</b> {{smellCtrl.nodeDesc[0]}}<br> -->
<!-- 	                            			<b>{{ 'datamining.smells.testes.detection.element' | translate }}:</b> {{smellCtrl.nodeDesc[1]}}<br> -->
<!-- 	                            			<b>{{ 'datamining.smells.testes.detection.actiontype' | translate }}:</b> {{smellCtrl.nodeDesc[2]}} -->
<!-- 	                            		</p> -->
<!-- 	                            	</div> -->
	                            </td>
	                        </tr>
		                </tbody>
		            </table>
	        	</div>
	        	
	        </div>
	    </div>	    

    </div>