<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{smellCtrl.test.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.smells.testes.detection' | translate}}</li>
		</ul>
		
		<usdm-messages-alert></usdm-messages-alert>
	    
		<div class="row show-grid">
		    <div class="span4">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.testes.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.testes.title' | translate}}:</dt>
			            	<dd>
			            		{{smellCtrl.test.title}}
			            		<a class="btn pull-right" ng-href="#/testes/editar/{{smellCtrl.test.id}}" title="{{ 'datamining.edit' | translate}}"><span class="icon-edit"></span> {{ 'datamining.edit' | translate }}</a>
			            		<div class="clear-both"></div>
			            	</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.abbrev' | translate}}:</dt>
			            	<dd>{{smellCtrl.test.clientAbbreviation}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.url' | translate}}:</dt>
			            	<dd>{{smellCtrl.test.urlSystem}}</dd>
			            </dl>
			            
		            </div>
		    	</div>
		    </div>
	        <div class="span8">
	        	
	            <div class="usdm-box">
	            	<h3 class="usdm-title-collapse">
	            		{{ 'datamining.smells.testes.detection.form.title' | translate}}
	            	</h3>
	            	<div class="usdm-clickable-box-content usdm-animate-show-hide">
		        		<form name="myForm" class="usdm-clickable-box-form-lite form-layout">
							<fieldset>
								<table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white; padding-top: 0;">
					                <thead>
					                    <tr>
					                        <th width="60%">{{'datamining.smells.testes.smellname' | translate}}</th>
					                        <th width="15%">{{'datamining.smells.testes.evaluate' | translate}}</th>
					                        <th width="25%">{{'datamining.smells.testes.config' | translate}}</th>
					                    </tr>
					                </thead>
					                <tbody>
				                        <tr ng-repeat="smell in smellCtrl.smells | orderBy:'value'">
				                            <td>{{smell.name}}</td>
				                            <td class="text-center"><input type="checkbox" checked="checked" name="selectedSmells[]" value="{{smell.value}}" ng-click="smellCtrl.toggleSelection(smell.value)"></td>
				                            <td class="text-center"><a class="btn btn-primary" ng-href="#/testes/{{smellCtrl.test.id}}/smells/config/{{smell.value}}"><span class="icon-white icon-cog"></span> {{'datamining.smells.testes.config' | translate}}</a></td>
				                        </tr>
					                </tbody>
					            </table>
					            <hr>
					            <h3>{{ 'datamining.smells.testes.detection.form.taskdefinition' | translate}}</h3>
					            <br>
					            <table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white; padding-top: 0;">
					                <thead>
					                    <tr>
					                        <th width="85%">{{'datamining.testes.title' | translate}}</th>
					                        <th width="15%">{{'datamining.smells.testes.evaluate' | translate}}</th>
					                    </tr>
					                </thead>
					                <tbody>
				                        <tr ng-repeat="task in smellCtrl.test.tasks | orderBy:'id'">
				                            <td>{{task.title}}</td>
				                            <td class="text-center"><input type="checkbox" checked="checked" name="selectedTasks[]" value="{{task.id}}" ng-click="smellCtrl.toggleTaskSelection(task.id)"></td>
				                        </tr>
					                </tbody>
					            </table>
					            <hr>
					            <h3>{{ 'datamining.smells.testes.timewindow' | translate}}</h3>
					            <br>
					            <div class="row-fluid">
									<div class="control-group span6">
						            	<label class="control-label" for="pickerMinSelector">{{ 'date.initial' | translate}}:*</label>
						            	<div class="controls">
						                	<input class="span12" type="datetime" placeholder="{{ 'date.initial' | translate}}" date-time ng-model="smellCtrl.minDate" id="pickerMinSelector" date-change="smellCtrl.changeMinMax" max-date="smellCtrl.maxDate" view="date" format="DD/MM/YYYY HH:mm" /> 
						            	</div>
						        	</div>
						        	
						        	<div class="control-group span6">
						            	<label class="control-label" for="pickerMaxSelector">{{ 'date.end' | translate}}:*</label>
						            	<div class="controls">
						                	<input class="span12" type="datetime" placeholder="{{ 'date.end' | translate}}" date-time ng-model="smellCtrl.maxDate" id="pickerMaxSelector" date-change="smellCtrl.changeMinMax" min-date="smellCtrl.minDate" view="date" format="DD/MM/YYYY HH:mm" /> 
						            	</div>
						        	</div>
								</div>
					        	<div class="form-actions">
					            	<button ng-click="smellCtrl.view()" class="btn btn-primary pull-right submit">{{ 'datamining.smells.testes.startevaluation' | translate }}</button>
<!-- 									<a ng-click="smellCtrl.view()" ng-href="#/testes/{{smellCtrl.test.id}}/smells/detection/result" class="btn btn-primary pull-right">{{ 'datamining.smells.testes.startevaluation' | translate }}</a> -->
					        	</div>
							</fieldset>
						</form>
		        	</div>
	        	</div>
	        	
	        	<div class="usdm-box" ng-show="smellCtrl.detectionResult != null" ng-repeat="(smell, result) in smellCtrl.detectionResult">
	            	<h3 class="usdm-title-collapse">
	            		{{smell}}
	            	</h3>
	            	<table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white; padding-top: 0;" ng-repeat="(task, sessions) in result">
						<thead>
		                    <tr ng-init="smellCtrl.calculateDetectionRate(task, sessions.length)">
		                        <th width="100%">{{task}} ({{smellCtrl.detectionRate}} afetada)</th>
		                    </tr>
		                </thead>
		                <tbody>
	                        <tr ng-repeat="session in sessions">
	                            <td>
	                            	<a ng-click="smellCtrl.showGraphSmell(session)">{{session.description}}</a>
	                            	<ul>
	                            		<li ng-repeat="(info, value) in session.info"><b>{{info}}:</b> {{value}}</li>
	                            	</ul>
	                            	<div ng-show="smellCtrl.smellgraphid == 'graph'+session.description">
	                            		<div id="graph{{session.description}}" class="useskill-smell-graph"></div>
	                            		<p ng-show="smellCtrl.nodeSelected != null">
	                            			<b>{{ 'datamining.smells.testes.place' | translate }}:</b> {{smellCtrl.nodeDesc[0]}}<br>
	                            			<b>{{ 'datamining.smells.testes.element' | translate }}:</b> {{smellCtrl.nodeDesc[1]}}<br>
	                            			<b>{{ 'datamining.smells.testes.actiontype' | translate }}:</b> {{smellCtrl.nodeDesc[2]}}
	                            		</p>
	                            	</div>
	                            </td>
	                        </tr>
		                </tbody>
		            </table>
	            	
<!-- 	            	<ul> -->
<!-- 	            		<li ng-repeat="(task, sessions) in result"></li> -->
<!-- 	            	</ul> -->
<!-- 	            	<div class="usdm-clickable-box-content"> -->
<!-- 	  					<nvd3 options="chart.statisticsOptions" data="chart.statisticsData" class="with-3d-shadow with-transitions"></nvd3> -->
<!-- 	  				</div> -->
	        	</div>
	        	
	        </div>
	    </div>	    

    </div>