<div class="container-padding-left">
	
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{smellCtrl.test.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ 'datamining.smells.testes.viewstatistics' | translate}}</li>
		</ul>
		
		<usdm-messages-alert></usdm-messages-alert>
	    
<!--         <div class="alert alert-info alert-dismissable" style="position: absolute; width: 47.5%;"> -->
<!--             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
<!--             Success! message sent successfully. -->
<!--         </div>		 -->
	    
		<div class="row show-grid">
		    <div class="span4">
		    	<div class="usdm-box">
		    		<h2 class="usdm-box-header">
			    		{{ 'datamining.testes.details' | translate}}
		            </h2>
		            
		            <div class="usdm-box-body">
			            <dl>
			            	<dt>{{ 'datamining.testes.title' | translate}}:</dt>
			            	<dd>
			            		{{smellCtrl.test.title}}
			            		<a class="btn pull-right" ng-href="#/testes/editar/{{smellCtrl.test.id}}" title="{{ 'datamining.edit' | translate}}"><span class="icon-edit"></span> {{ 'datamining.edit' | translate }}</a>
			            		<div class="clear-both"></div>
			            	</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.abbrev' | translate}}:</dt>
			            	<dd>{{smellCtrl.test.clientAbbreviation}}</dd>
			            </dl>
			            <dl>
			            	<dt>{{ 'datamining.testes.url' | translate}}:</dt>
			            	<dd>{{smellCtrl.test.urlSystem}}</dd>
			            </dl>
			            
		            </div>
		    	</div>
		    </div>
		    
	        <div class="span8">
	        	
	            <div class="usdm-box">
	            	<h3 class="usdm-title-collapse">
	            		{{ 'datamining.smells.testes.statistics.form.title' | translate}}
	            	</h3>
	            	<div class="usdm-clickable-box-content usdm-animate-show-hide">
		        		<form name="myForm" class="usdm-clickable-box-form-lite form-layout">
							<fieldset>
								<table class="table table-striped table-bordered table-condensed datamining-table" style="background-color: white; padding-top: 0;">
					                <thead>
					                    <tr>
					                        <th width="85%">{{'datamining.smells.testes.metrics' | translate}}</th>
					                        <th width="15%">{{'datamining.smells.testes.evaluate' | translate}}</th>
					                    </tr>
					                </thead>
					                <tbody>
				                        <tr ng-repeat="metric in smellCtrl.metrics | orderBy:'value'">
				                            <td>{{metric.name}} <a href="" class="icon-info-sign" data-toggle="tooltip" data-placement="right" title="{{metric.info}}"></a></td>
				                            <td class="text-center"><input type="checkbox" checked="checked" name="selectedMetrics[]" value="{{metric.value}}" ng-click="smellCtrl.toggleSelection(metric.value)"></td>
				                        </tr>
					                </tbody>
					            </table>
					            <hr>
					            <h3>{{'datamining.smells.testes.timewindow' | translate}}</h3>
					            <br>
								<div class="row-fluid">
									<div class="control-group span6">
						            	<label class="control-label" for="pickerMinSelector">{{ 'date.initial' | translate}}:*</label>
						            	<div class="controls">
						                	<input class="span12" type="datetime" placeholder="{{ 'date.initial' | translate}}" date-time ng-model="smellCtrl.minDate" id="pickerMinSelector" date-change="smellCtrl.changeMinMax" max-date="smellCtrl.maxDate" view="date" format="DD/MM/YYYY HH:mm" /> 
						            	</div>
						        	</div>
						        	
						        	<div class="control-group span6">
						            	<label class="control-label" for="pickerMaxSelector">{{ 'date.end' | translate}}:*</label>
						            	<div class="controls">
						                	<input class="span12" type="datetime" placeholder="{{ 'date.end' | translate}}" date-time ng-model="smellCtrl.maxDate" id="pickerMaxSelector" date-change="smellCtrl.changeMinMax" min-date="smellCtrl.minDate" view="date" format="DD/MM/YYYY HH:mm" /> 
						            	</div>
						        	</div>
								</div>

					        	<div class="form-actions">
					            	<button ng-click="smellCtrl.view()"  class="btn btn-primary pull-right submit">{{ 'datamining.smells.testes.statistics.form.view' | translate }}</button>
					        	</div>
							</fieldset>
						</form>
		        	</div>
	        	</div>
	        	
<!-- 	        	<div class="usdm-box" ng-show="smellCtrl.charts != null" ng-repeat="chart in smellCtrl.charts"> -->
<!-- 	            	<h3 class="usdm-title-collapse"> -->
<!-- 	            		{{chart.description}} -->
<!-- 	            	</h3> -->
<!-- 	            	<div class="usdm-clickable-box-content"> -->
<!-- 	  					<nvd3 options="chart.statisticsOptions" data="chart.statisticsData" api="chart.chartApi"></nvd3> -->
<!-- 	  				</div> -->
<!-- 	        	</div> -->
				
				<div class="usdm-box" ng-show="smellCtrl.charts != null" ng-repeat="chart in smellCtrl.charts">
	            	<h3 class="usdm-title-collapse">
	            		{{chart.description}}
	            	</h3>
	            	<div class="usdm-clickable-box-content">
	  					<nvd3 options="chart.statisticsOptions" data="chart.statisticsData" class="with-3d-shadow with-transitions"></nvd3>
	  				</div>
	        	</div>
	        	
	        </div>
	    </div>	    

    </div>