<h3 class="usdm-title-margin">{{ 'datamining.tasks.session.information' | translate }}:</h3>
<div class="usdm-info-box">
	<div
		class="usdm-info-box-title usdm-info-box-title-{{sessionInfo.classification}} row-fluid">
		<div class="usdm-info-box-div3">
			<div class="usdm-info-box-label">{{ 'datamining.tasks.evaluate.user' | translate }}:</div>
			<div class="usdm-info-box-span">
				{{ sessionInfo.username }}
			</div>
		</div>
		<div class="usdm-info-box-div3">
			<div class="usdm-info-box-label">{{ 'datamining.tasks.sessionnum' | translate }}:</div>
			<div class="usdm-info-box-span">
				{{ sessionInfo.sessionNumber }}
			</div>
		</div>
		<div class="usdm-info-box-div3">
			<div class="usdm-info-box-label">{{ 'datamining.tasks.time' | translate }}:</div>
			<div class="usdm-info-box-span">
				{{ sessionInfo.time | msConverter }}
			</div>
		</div>
		<div class="usdm-info-box-div3">
			<div class="usdm-info-box-label">{{ 'datamining.tasks.classification' | translate }}:</div>
			<div class="usdm-info-box-span">
				{{ getClassificationFromEnum({ clas : sessionInfo.classification}).desc  }}
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div ng-class="{ 'usdm-info-box-div3' : (graphsession != null), 'usdm-info-box-div6' : (graphsession == null) }">
			<div class="usdm-info-box-label">{{ 'datamining.tasks.effectiveness' | translate }}:</div>
			<div class="usdm-info-box-span">
			{{ sessionInfo.effectiveness | number:2}}%</div>
		</div>
		<div ng-class="{ 'usdm-info-box-div3' : (graphsession != null), 'usdm-info-box-div6' : (graphsession == null) }">
			<div class="usdm-info-box-label">{{ 'datamining.tasks.efficiency' | translate }}:</div>
			<div class="usdm-info-box-span">
			{{ sessionInfo.efficiency | number:2}}</div>
		</div>
		<div class="usdm-info-box-div3" ng-show="graphsession != null">
			<div class="usdm-info-box-label">{{ 'datamining.tasks.nodecount' | translate }}:</div>
			<div class="usdm-info-box-span">
			{{ graphsession.body.nodeIndices.length }}</div>
		</div>
		<div class="usdm-info-box-div3" ng-show="graphsession != null">
			<div class="usdm-info-box-label">{{ 'datamining.tasks.edgecount' | translate }}:</div>
			<div class="usdm-info-box-span">
			{{ graphsession.body.edgeIndices.length }}</div>
		</div>
	</div>
</div>