<body> 
	<div class="container-padding-left">
		
		<ul class="breadcrumb">
			<li>
				<a ng-href="/"> 
					{{ 'inicio' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/"> 
					{{ 'datamining' | translate}} - {{ 'datamining.testes.list' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{actionCtrl.task.testDataMining.id}}"> 
					{{ 'datamining.testes.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li>
				<a ng-href="#/testes/{{actionCtrl.task.testDataMining.id}}/tarefas/{{actionCtrl.task.id}}"> 
					{{ 'datamining.tasks.details' | translate}}
				</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{ actionCtrl.actionTitle }}</li>
		</ul>
		
		
		<div ng-show="success" class="alert alert-success">
			{{ success }}<br />
		</div>
		<div ng-show="errors" class="alert alert-error">
			<span ng-repeat="error in errors">
				{{ error }}<br />
			</span>
		</div>
		
	    
	    <div class="span10 center">
		
			<form name="myForm" class="datamining-form form-layout">
				<fieldset>
					<legend>
						<span>{{ actionCtrl.actionTitle }}</span>
						<hr/>
					</legend>
					
					<input type="hidden" name="action.id" ng-model="actionCtrl.action.id" />
					
					<div class="control-group">
		            	<label class="control-label" for="momentType">{{ 'datamining.tasks.actions.moment' | translate}}:*</label>
		            	<div class="controls">
		                	<select ng-model="actionCtrl.action.momentType" id="momentType" ng-options="moment as moment.name for moment in actionCtrl.moments" class="input">
		                		<option value="">{{ 'datamining.tasks.actions.moment.select' | translate }}</option>
		                	</select>
		            	</div>
		        	</div>
					
					<div class="control-group">
		            	<label class="control-label" for="actionType">{{ 'datamining.tasks.actions.type' | translate}}:*</label>
		            	<div class="controls">
		                	<select ng-model="actionCtrl.action.actionType" id="actionType" ng-options="type as type.name for type in actionCtrl.types" class="input">
		                		<option value="">{{ 'datamining.tasks.actions.type.select' | translate }}</option>
		                	</select>
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="actionType">{{ 'datamining.tasks.actions.description' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="text" ng-model="actionCtrl.action.description" name="action.description" id="description" class="input" />
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="element">{{ 'datamining.tasks.actions.element.xpath' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="text" ng-model="actionCtrl.action.element" name="action.element" id="element" class="input" />
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="url">{{ 'datamining.tasks.actions.url.url' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="text" ng-model="actionCtrl.action.url" name="action.url" id="url" class="input" />
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="step">{{ 'datamining.tasks.actions.url.step' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="text" ng-model="actionCtrl.action.step" name="action.step" id="step" class="input" />
		            	</div>
		        	</div>
		        	
		        	<div class="control-group">
		            	<label class="control-label" for="jhm">{{ 'datamining.tasks.actions.url.jhm' | translate}}:*</label>
		            	<div class="controls">
		                	<input type="text" ng-model="actionCtrl.action.jhm" name="action.jhm" id="jhm" class="input" />
		            	</div>
		        	</div>
		
					<hr/>
					
		        	<div class="form-actions">
		            	<button ng-click="actionCtrl.save()"  class="btn btn-primary pull-right submit">{{ actionCtrl.actionTitle }}</button>
		            	<a href="#/" onclick="window.history.go(-1); return false;" class="btn pull-right">{{ 'datamining.back' | translate}}</a>
		        	</div>
		        	
				</fieldset>
			</form>
		</div>
	     
	
    </div>
</body>
